@media (max-width: 1025px) {
  body {
    font-size: calc(14px + (18 - 14) * ((100vw - 1024px) / (1440 - 1024)));
  }

  h1 {
    font-size: calc(40px + (48 - 40) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .header-wrapper {
    padding: calc(14px + (20 - 14) * ((100vw - 1024px) / (1440 - 1024)))
      calc(27px + (36 - 27) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .header-tagline {
    font-size: 10px;
  }

  .header-burger {
    width: calc(32px + (35 - 32) * ((100vw - 1024px) / (1440 - 1024)));
    height: calc(32px + (35 - 32) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .circles-wrapper {
    padding: 0 calc(158px + (223 - 158) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .gift {
    top: calc(194px + (175 - 194) * ((100vw - 1024px) / (1440 - 1024)));
    right: calc(254px + (377 - 254) * ((100vw - 1024px) / (1440 - 1024)));
    width: calc(105px + (108 - 105) * ((100vw - 1024px) / (1440 - 1024)));
    height: calc(105px + (108 - 105) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .gift > span {
    font-size: calc(12px + (14 - 12) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .section_title {
    top: calc(149px + (205 - 149) * ((100vw - 1024px) / (1440 - 1024)));
    left: calc(128px + (180 - 128) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .section_title p {
    margin-top: calc(8px + (23 - 8) * ((100vw - 1024px) / (1440 - 1024)));
    max-width: calc(212px + (246 - 212) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .section_img {
    padding: 0 calc(300px + (420 - 300) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .section_mini-img {
    top: calc(487px + (490 - 487) * ((100vw - 1024px) / (1440 - 1024)));
    right: calc(189px + (297 - 189) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .section_mini-img img {
    width: calc(148px + (177 - 148) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .description-item {
    max-width: calc(127px + (167 - 127) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .description-item > span {
    font-size: 10px;
  }

  .evolution-page {
    padding: 600px 0;
  }

  .ag-timeline_item {
    margin: 0 0 calc(68px + (78 - 68) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .ag-timeline_item:nth-child(2n) .ag-timeline-card_info {
    margin-left: 38px;
  }

  .ag-timeline-card_info {
    margin-right: 38px;
  }

  .ag-timeline-card_item {
    margin: -10vh 0 0 0;
  }

  .ag-timeline-card_title {
    font-size: calc(42px + (48 - 42) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .banner-title {
    bottom: calc(42px + (67 - 42) * ((100vw - 1024px) / (1440 - 1024)));
    padding: 0 calc(70px + (93 - 70) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .banner-title h1 {
    font-size: calc(112px + (165 - 112) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .banner-description_wrapper {
    top: calc(229px + (204 - 229) * ((100vw - 1024px) / (1440 - 1024)));
    padding: 0 calc(86px + (114 - 86) * ((100vw - 1024px) / (1440 - 1024)));
    opacity: 1;
  }

  .banner-description-left {
    max-width: 250px;
  }

  .banner-description-right {
    max-width: 240px;
  }

  .banner-description-right span {
    font-size: 14px;
  }

  .banner-btn {
    width: 47px;
    height: 47px;
    margin-top: 33px;
  }

  .contest-wrapper {
    padding: 0 calc(40px + (50 - 40) * ((100vw - 1024px) / (1440 - 1024)));
    padding-top: 140px;
  }

  .contest-container {
    /* top: 10vh; */
    padding: 0 calc(265px + (388 - 265) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .contest-description span {
    margin-top: calc(193px + (231 - 193) * ((100vw - 1024px) / (1440 - 1024)));
    margin-bottom: calc(72px + (76 - 72) * ((100vw - 1024px) / (1440 - 1024)));
    font-size: calc(16px + (18 - 16) * ((100vw - 1024px) / (1440 - 1024)));
    transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
  }

  .contest-description h1 {
    margin-bottom: calc(38px + (49 - 38) * ((100vw - 1024px) / (1440 - 1024)));
    font-size: calc(48px + (62 - 48) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .contest-btn {
    font-size: calc(16px + (14 - 16) * ((100vw - 1024px) / (1440 - 1024)));
    padding: calc(12px + (17 - 12) * ((100vw - 1024px) / (1440 - 1024)))
      calc(22px + (23 - 22) * ((100vw - 1024px) / (1440 - 1024)));
  }

  #overallBackground {
    background-size: 2500px 2500px;
  }

  .participants-wrapper {
    padding: 0 calc(20px + (40 - 20) * ((100vw - 1024px) / (1440 - 1024)));
    padding-top: 0;
    padding-bottom: 0;
  }

  .participants-items {
    grid-gap: 17px;
  }

  .participants-item_description {
    padding-bottom: calc(18px + (35 - 18) * ((100vw - 1024px) / (1440 - 1024)));
    padding-left: calc(18px + (25 - 18) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .participants-item_description h3 {
    font-size: calc(20px + (27 - 20) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .participants-more {
    margin-top: calc(45px + (64 - 45) * ((100vw - 1024px) / (1440 - 1024)));
    margin-bottom: calc(49px + (82 - 49) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .test-container {
    padding: 0 calc(200px + (380 - 200) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .test-container span {
    margin-top: calc(186px + (217 - 186) * ((100vw - 1024px) / (1440 - 1024)));
    font-size: calc(16px + (18 - 16) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .test-decription {
    margin-top: calc(72px + (85 - 72) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .test-decription h1 {
    font-size: calc(48px + (65 - 48) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .test-decription p {
    margin-top: calc(10px + (13 - 10) * ((100vw - 1024px) / (1440 - 1024)));
    padding: 0 calc(155px + (213 - 155) * ((100vw - 1024px) / (1440 - 1024)));
    font-size: calc(14px + (18 - 14) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .test-btn {
    font-size: calc(16px + (14 - 16) * ((100vw - 1024px) / (1440 - 1024)));
    margin-top: calc(34px + (44 - 34) * ((100vw - 1024px) / (1440 - 1024)));
    padding: calc(12px + (17 - 12) * ((100vw - 1024px) / (1440 - 1024)))
      calc(23px + (26 - 23) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .buy-wrapper {
    padding: 0 calc(67px + (152 - 67) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .buy-title {
    padding-top: calc(160px + (213 - 160) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .buy-title h1 {
    font-size: calc(48px + (65 - 48) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .buy-items {
    grid-gap: calc(29px + (38 - 29) * ((100vw - 1024px) / (1440 - 1024)));
    margin-top: calc(82px + (98 - 82) * ((100vw - 1024px) / (1440 - 1024)));
    margin-bottom: calc(
      152px + (85 - 152) * ((100vw - 1024px) / (1440 - 1024))
    );
  }

  .buy-item:nth-child(1),
  .buy-item:nth-child(3) {
    margin-top: calc(65px + (82 - 65) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .buy-item_description h3 {
    margin-top: calc(13px + (15 - 13) * ((100vw - 1024px) / (1440 - 1024)));
    font-size: calc(24px + (27 - 24) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .buy-item_description p {
    max-width: calc(194px + (207 - 194) * ((100vw - 1024px) / (1440 - 1024)));
    margin-top: calc(9px + (12 - 9) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .buy-item_btn {
    width: 30%;
    font-size: calc(16px + (12 - 16) * ((100vw - 1024px) / (1440 - 1024)));
    padding: calc(11px + (17 - 11) * ((100vw - 1024px) / (1440 - 1024)))
      calc(60px + (70 - 60) * ((100vw - 1024px) / (1440 - 1024)));
    margin-top: calc(22px + (32 - 22) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .contacts-wrapper hr {
    bottom: calc(52px + (60 - 52) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .contacts-logo {
    padding-top: calc(95px + (96 - 95) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .contacts-container {
    padding: 0 calc(220px + (230 - 220) * ((100vw - 1024px) / (1440 - 1024)));
    margin-top: calc(130px + (142 - 130) * ((100vw - 1024px) / (1440 - 1024)));
    margin-bottom: calc(
      131px + (147 - 131) * ((100vw - 1024px) / (1440 - 1024))
    );
    grid-column-gap: 122px;
  }

  .contacts-container p {
    margin-top: 20px;
  }

  .contacts-left {
    max-width: calc(265px + (350 - 265) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .contacts-right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .contacts-right_partners,
  .contacts-right_press {
    max-width: calc(205px + (250 - 205) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .contacts_btn-callback {
    padding: 13px 18px;
    font-size: 14px;
    margin-top: calc(52px + (55 - 52) * ((100vw - 1024px) / (1440 - 1024)));
    width: 80%;
  }

  footer {
    padding: 0 calc(20px + (27 - 20) * ((100vw - 1024px) / (1440 - 1024)));
    padding-bottom: calc(10px + (13 - 10) * ((100vw - 1024px) / (1440 - 1024)));
  }

  footer .left-block span {
    font-size: calc(8px + (10 - 8) * ((100vw - 1024px) / (1440 - 1024)));
  }

  footer .right-block span {
    width: calc(32px + (35 - 32) * ((100vw - 1024px) / (1440 - 1024)));
    height: calc(32px + (35 - 32) * ((100vw - 1024px) / (1440 - 1024)));
    font-size: calc(10px + (13 - 10) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .burger-menu_content .burger-menu_list > .burger-menu_list-item {
    font-size: calc(48px + (64 - 48) * ((100vw - 1024px) / (1440 - 1024)));
    padding: 5px calc(100px + (150 - 100) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .banner-modal_content {
    margin-right: calc(19px + (27 - 19) * ((100vw - 1024px) / (1440 - 1024)));
    width: calc(693px + (922 - 693) * ((100vw - 1024px) / (1440 - 1024)));
    padding: calc(16px + (20 - 16) * ((100vw - 1024px) / (1440 - 1024)))
      calc(44px + (60 - 44) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .banner-modal_content.active {
    top: calc(148px + (82 - 148) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .banner-modal_item {
    padding: 0 calc(45px + (60 - 45) * ((100vw - 1024px) / (1440 - 1024)));
    height: calc(124px + (165 - 124) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .banner-modal_item span {
    font-size: calc(11px + (14 - 11) * ((100vw - 1024px) / (1440 - 1024)));
    width: calc(152px + (202 - 152) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .banner-modal_close {
    height: calc(29px + (35 - 29) * ((100vw - 1024px) / (1440 - 1024)));
    width: calc(29px + (35 - 29) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .contest-modal_close {
    height: calc(35px + (47 - 35) * ((100vw - 1024px) / (1440 - 1024)));
    width: calc(35px + (47 - 35) * ((100vw - 1024px) / (1440 - 1024)));
    margin: calc(14px + (19 - 14) * ((100vw - 1024px) / (1440 - 1024)))
      calc(28px + (37 - 28) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .contest-modal_content {
    width: calc(537px + (640 - 537) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .contest-modal_wrapper {
    padding: calc(198px + (238 - 198) * ((100vw - 1024px) / (1440 - 1024)))
      calc(102px + (120 - 102) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .contest-modal h3 {
    font-size: calc(27px + (32 - 27) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .contest-input {
    margin-bottom: calc(14px + (15 - 14) * ((100vw - 1024px) / (1440 - 1024)));
  }

  [type="file"] + label.contest_btn-file {
    margin-bottom: calc(14px + (15 - 14) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .contest-checkbox {
    margin-bottom: calc(26px + (40 - 26) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .contest-checkbox p {
    font-size: 12px;
  }

  .form_contest-btn {
    font-size: calc(13px + (14 - 13) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .test-modal_header h3 {
    padding: 0 calc(80px + (143 - 80) * ((100vw - 1024px) / (1440 - 1024)));
    font-size: calc(24px + (32 - 24) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .test-modal_body {
    padding: calc(112px + (150 - 112) * ((100vw - 1024px) / (1440 - 1024)))
      calc(76px + (102 - 76) * ((100vw - 1024px) / (1440 - 1024)));
    grid-gap: calc(34px + (45 - 34) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .test-modal_body-item {
    padding: calc(12px + (17 - 12) * ((100vw - 1024px) / (1440 - 1024))) 0;
  }

  .test-modal_footer {
    padding-bottom: calc(11px + (14 - 11) * ((100vw - 1024px) / (1440 - 1024)));
    font-size: calc(18px + (24 - 18) * ((100vw - 1024px) / (1440 - 1024)));
  }
}

@media (max-width: 769px) {
  body {
    font-size: calc(14px + (18 - 14) * ((100vw - 768px) / (1024 - 768)));
  }

  h1 {
    font-size: calc(40px + (48 - 40) * ((100vw - 768px) / (1024 - 768)));
  }

  .header-wrapper {
    padding: calc(11px + (14 - 11) * ((100vw - 768px) / (1024 - 768)))
      calc(14px + (27 - 14) * ((100vw - 768px) / (1024 - 768)));
  }

  .header-tagline {
    font-size: 9px;
  }

  .header-burger {
    width: calc(32px + (35 - 32) * ((100vw - 768px) / (1024 - 768)));
    height: calc(32px + (35 - 32) * ((100vw - 768px) / (1024 - 768)));
  }

  .circles-wrapper {
    padding: 0 0;
  }

  .gift {
    top: calc(320px + (194 - 320) * ((100vw - 768px) / (1024 - 768)));
    right: calc(96px + (254 - 96) * ((100vw - 768px) / (1024 - 768)));
    width: calc(105px + (108 - 105) * ((100vw - 768px) / (1024 - 768)));
    height: calc(105px + (108 - 105) * ((100vw - 768px) / (1024 - 768)));
  }

  .gift > span {
    font-size: calc(12px + (14 - 12) * ((100vw - 768px) / (1024 - 768)));
  }

  .section_title {
    top: calc(169px + (149 - 169) * ((100vw - 768px) / (1024 - 768)));
    left: calc(96px + (128 - 96) * ((100vw - 768px) / (1024 - 768)));
  }

  .section_title p {
    margin-top: calc(15px + (23 - 15) * ((100vw - 768px) / (1024 - 768)));
    max-width: calc(206px + (212 - 206) * ((100vw - 768px) / (1024 - 768)));
  }

  .section_img {
    padding: 0 calc(144px + (300 - 144) * ((100vw - 768px) / (1024 - 768)));
  }

  .section_mini-img {
    top: calc(631px + (487 - 631) * ((100vw - 768px) / (1024 - 768)));
    right: calc(41px + (189 - 41) * ((100vw - 768px) / (1024 - 768)));
  }

  .section_mini-img img {
    width: calc(205px + (148 - 205) * ((100vw - 768px) / (1024 - 768)));
  }

  .section-description {
    bottom: 90px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
    row-gap: 30px;
  }

  .description-item {
    max-width: calc(215px + (127 - 215) * ((100vw - 768px) / (1024 - 768)));
  }

  .description-item > span {
    font-size: 13px;
  }

  .evolution-page {
    padding: 600px 0;
  }

  .ag-timeline_item {
    margin: 0 0 calc(68px + (78 - 68) * ((100vw - 768px) / (1024 - 768)));
  }

  .ag-timeline_item:nth-child(2n) .ag-timeline-card_info {
    margin-left: 28px;
  }

  .ag-timeline-card_info {
    margin-right: 28px;
  }

  .ag-timeline-card_item {
    margin: -10vh 0 0 0;
  }

  .ag-timeline-card_title {
    font-size: calc(32px + (42 - 32) * ((100vw - 768px) / (1024 - 768)));
  }

  .ag-timeline_item:nth-child(2n + 1) .ag-timeline-card_desc {
    margin-left: -100px;
  }

  .ag-timeline_item:nth-child(2n) .ag-timeline-card_desc {
    margin-right: -100px;
  }

  .banner-title {
    bottom: calc(70px + (42 - 70) * ((100vw - 768px) / (1024 - 768)));
    padding: 0 calc(63px + (70 - 63) * ((100vw - 768px) / (1024 - 768)));
  }

  .banner-title h1 {
    font-size: calc(96px + (112 - 96) * ((100vw - 768px) / (1024 - 768)));
  }

  .banner-description_wrapper {
    top: calc(316px + (229 - 316) * ((100vw - 768px) / (1024 - 768)));
    padding: 0 calc(50px + (86 - 50) * ((100vw - 768px) / (1024 - 768)));
  }

  .banner-description-left {
    max-width: 250px;
  }

  .banner-description-right {
    max-width: 210px;
  }

  .banner-description-right span {
    font-size: 14px;
  }

  .banner-btn {
    width: 62px;
    height: 62px;
    margin-top: 53px;
  }

  .contest-wrapper {
    padding: 0 calc(20px + (40 - 20) * ((100vw - 768px) / (1024 - 768)));
    padding-top: 208px;
    top: 20vh;
  }

  .contest-container {
    /* top: 10vh; */
    padding: 0 calc(137px + (265 - 137) * ((100vw - 768px) / (1024 - 768)));
  }

  .contest-description span {
    margin-top: calc(170px + (193 - 170) * ((100vw - 768px) / (1024 - 768)));
    margin-bottom: calc(89px + (72 - 89) * ((100vw - 768px) / (1024 - 768)));
    font-size: calc(14px + (16 - 14) * ((100vw - 768px) / (1024 - 768)));
  }

  .contest-description h1 {
    margin-bottom: calc(38px + (49 - 38) * ((100vw - 768px) / (1024 - 768)));
    font-size: calc(48px + (62 - 48) * ((100vw - 768px) / (1024 - 768)));
  }

  .contest-btn {
    font-size: calc(13px + (14 - 13) * ((100vw - 768px) / (1024 - 768)));
    padding: calc(12px + (17 - 12) * ((100vw - 768px) / (1024 - 768)))
      calc(19px + (22 - 19) * ((100vw - 768px) / (1024 - 768)));
  }

  #overallBackground {
    background-size: 2500px 2500px;
  }

  .participants-wrapper {
    padding: 0 calc(62px + (20 - 62) * ((100vw - 768px) / (1024 - 768)));
    padding-top: 0;
    padding-bottom: 0;
  }

  .participants-items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }

  .participants-item_description {
    padding-bottom: calc(20px + (35 - 20) * ((100vw - 768px) / (1024 - 768)));
    padding-left: calc(25px + (30 - 25) * ((100vw - 768px) / (1024 - 768)));
  }

  .participants-item_description h3 {
    font-size: calc(20px + (27 - 20) * ((100vw - 768px) / (1024 - 768)));
  }

  .participants-more {
    margin-top: calc(55px + (64 - 55) * ((100vw - 768px) / (1024 - 768)));
    margin-bottom: calc(64px + (49 - 64) * ((100vw - 768px) / (1024 - 768)));
  }

  .page-test {
    background-size: cover;
  }

  .test-container {
    padding: 0 calc(100px + (200 - 100) * ((100vw - 768px) / (1024 - 768)));
  }

  .test-container span {
    margin-top: calc(296px + (186 - 296) * ((100vw - 768px) / (1024 - 768)));
    font-size: calc(14px + (16 - 14) * ((100vw - 768px) / (1024 - 768)));
  }

  .test-decription {
    margin-top: calc(97px + (72 - 97) * ((100vw - 768px) / (1024 - 768)));
  }

  .test-decription h1 {
    font-size: calc(40px + (48 - 40) * ((100vw - 768px) / (1024 - 768)));
  }

  .test-decription p {
    margin-top: calc(19px + (10 - 19) * ((100vw - 768px) / (1024 - 768)));
    padding: 0 155px;
    font-size: calc(14px + (18 - 14) * ((100vw - 768px) / (1024 - 768)));
  }

  .test-btn {
    font-size: calc(13px + (14 - 13) * ((100vw - 768px) / (1024 - 768)));
    margin-top: calc(44px + (34 - 44) * ((100vw - 768px) / (1024 - 768)));
    padding: calc(8px + (12 - 8) * ((100vw - 768px) / (1024 - 768)))
      calc(17px + (23 - 17) * ((100vw - 768px) / (1024 - 768)));
  }

  .buy-wrapper {
    padding: 0 calc(50px + (67 - 50) * ((100vw - 768px) / (1024 - 768)));
  }

  .buy-title {
    padding-top: calc(204px + (213 - 204) * ((100vw - 768px) / (1024 - 768)));
  }

  .buy-title h1 {
    font-size: calc(48px + (65 - 48) * ((100vw - 768px) / (1024 - 768)));
  }

  .buy-items {
    grid-gap: calc(22px + (29 - 22) * ((100vw - 768px) / (1024 - 768)));
    margin-top: calc(115px + (82 - 115) * ((100vw - 768px) / (1024 - 768)));
    margin-bottom: calc(174px + (152 - 174) * ((100vw - 768px) / (1024 - 768)));
  }

  .buy-item:nth-child(1),
  .buy-item:nth-child(3) {
    margin-top: calc(49px + (65 - 49) * ((100vw - 768px) / (1024 - 768)));
  }

  .buy-item_description h3 {
    margin-top: calc(10px + (13 - 10) * ((100vw - 768px) / (1024 - 768)));
    font-size: calc(18px + (24 - 18) * ((100vw - 768px) / (1024 - 768)));
  }

  .buy-item_description p {
    max-width: calc(187px + (194 - 187) * ((100vw - 768px) / (1024 - 768)));
    margin-top: calc(7px + (9 - 7) * ((100vw - 768px) / (1024 - 768)));
  }

  .buy-item_btn {
    width: 30%;
    font-size: calc(13px + (16 - 13) * ((100vw - 768px) / (1024 - 768)));
    padding: calc(7px + (11 - 7) * ((100vw - 768px) / (1024 - 768)))
      calc(50px + (60 - 50) * ((100vw - 768px) / (1024 - 768)));
    margin-top: calc(16px + (22 - 16) * ((100vw - 768px) / (1024 - 768)));
  }

  .contacts-wrapper hr {
    bottom: calc(52px + (60 - 52) * ((100vw - 768px) / (1024 - 768)));
  }

  .contacts-logo {
    padding-top: calc(195px + (196 - 195) * ((100vw - 768px) / (1024 - 768)));
  }

  .contacts-container {
    padding: 0 calc(92px + (220 - 92) * ((100vw - 768px) / (1024 - 768)));
    margin-top: calc(140px + (142 - 140) * ((100vw - 768px) / (1024 - 768)));
    margin-bottom: calc(131px + (147 - 131) * ((100vw - 768px) / (1024 - 768)));
    grid-column-gap: 92px;
  }

  .contacts-container p {
    margin-top: 15px;
  }

  .contacts-left {
    max-width: calc(265px + (350 - 265) * ((100vw - 768px) / (1024 - 768)));
  }

  .contacts-right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .contacts-right_partners,
  .contacts-right_press {
    max-width: calc(205px + (250 - 205) * ((100vw - 768px) / (1024 - 768)));
  }

  .contacts_btn-callback {
    padding: 13px 18px;
    font-size: 11px;
    margin-top: calc(52px + (55 - 52) * ((100vw - 768px) / (1440 - 768)));
    width: 80%;
  }

  footer {
    padding: 0 calc(14px + (20 -14) * ((100vw - 768px) / (1024 - 768)));
    padding-bottom: calc(15px + (10 - 15) * ((100vw - 768px) / (1024 - 768)));
  }

  footer .left-block span {
    font-size: 10px;
  }

  footer .right-block span {
    width: calc(32px + (35 - 32) * ((100vw - 768px) / (1024 - 768)));
    height: calc(32px + (35 - 32) * ((100vw - 768px) / (1024 - 768)));
    font-size: 10px;
  }

  .burger-menu_content .burger-menu_list > .burger-menu_list-item {
    font-size: calc(64px + (48 - 64) * ((100vw - 768px) / (1024 - 768)));
    padding: 5px calc(100px + (150 - 100) * ((100vw - 768px) / (1024 - 768)));
  }

  .banner-modal_content {
    margin-right: calc(14px + (19 - 14) * ((100vw - 768px) / (1024 - 768)));
    width: calc(693px + (922 - 693) * ((100vw - 768px) / (1024 - 768)));
    padding: calc(16px + (20 - 16) * ((100vw - 768px) / (1024 - 768)))
      calc(44px + (60 - 44) * ((100vw - 768px) / (1024 - 768)));
  }

  .banner-modal_content.active {
    top: calc(403px + (82 - 403) * ((100vw - 768px) / (1024 - 768)));
  }

  .banner-modal_item {
    padding: 0 calc(45px + (60 - 45) * ((100vw - 768px) / (1024 - 768)));
    height: calc(124px + (165 - 124) * ((100vw - 768px) / (1024 - 768)));
  }

  .banner-modal_item span {
    font-size: calc(11px + (14 - 11) * ((100vw - 768px) / (1024 - 768)));
    width: calc(152px + (202 - 152) * ((100vw - 768px) / (1024 - 768)));
  }

  .banner-modal_close {
    height: calc(29px + (35 - 29) * ((100vw - 768px) / (1024 - 768)));
    width: calc(29px + (35 - 29) * ((100vw - 768px) / (1024 - 768)));
  }

  .contest-modal_close {
    height: calc(51px + (35 - 51) * ((100vw - 768px) / (1024 - 768)));
    width: calc(51px + (35 - 51) * ((100vw - 768px) / (1024 - 768)));
    margin: calc(20px + (14 - 20) * ((100vw - 768px) / (1024 - 768)))
      calc(42px + (28 - 42) * ((100vw - 768px) / (1024 - 768)));
  }

  .contest-modal_content {
    width: calc(700px + (537 - 700) * ((100vw - 768px) / (1024 - 768)));
  }

  .contest-modal_wrapper {
    padding: calc(259px + (198 - 259) * ((100vw - 768px) / (1024 - 768)))
      calc(132px + (102 - 132) * ((100vw - 768px) / (1024 - 768)));
  }

  .contest-modal h3 {
    font-size: calc(35px + (27 - 35) * ((100vw - 768px) / (1024 - 768)));
  }

  .contest-input {
    margin-bottom: calc(14px + (15 - 14) * ((100vw - 768px) / (1024 - 768)));
  }

  [type="file"] + label.contest_btn-file {
    margin-bottom: calc(14px + (15 - 14) * ((100vw - 768px) / (1024 - 768)));
  }

  .contest-checkbox {
    margin-bottom: calc(38px + (26 - 38) * ((100vw - 768px) / (1024 - 768)));
  }

  .contest-checkbox p {
    font-size: 16px;
  }

  .form_contest-btn {
    font-size: calc(18px + (13 - 18) * ((100vw - 768px) / (1024 - 768)));
  }

  .test-modal_header h3 {
    padding: 0 calc(78px + (80 - 78) * ((100vw - 768px) / (1024 - 768)));
    font-size: calc(24px + (32 - 24) * ((100vw - 768px) / (1024 - 768)));
  }

  .test-modal_body {
    grid-template-columns: repeat(1, 1fr);
    padding: calc(75px + (112 - 75) * ((100vw - 768px) / (1024 - 768)))
      calc(160px + (76 - 160) * ((100vw - 768px) / (1024 - 768)));
    grid-gap: calc(25px + (34 - 25) * ((100vw - 768px) / (1024 - 768)));
  }

  .test-modal_body-item {
    padding: calc(12px + (17 - 12) * ((100vw - 768px) / (1024 - 768))) 0;
    font-size: 18px;
  }

  .test-modal_footer {
    padding-bottom: calc(20px + (11 - 20) * ((100vw - 768px) / (1024 - 768)));
    font-size: calc(18px + (24 - 18) * ((100vw - 768px) / (1024 - 768)));
  }
}

@media (max-width: 426px) {
  body {
    font-size: calc(11px + (14 - 11) * ((100vw - 426px) / (768 - 426)));
  }

  h1 {
    font-size: calc(24px + (40 - 24) * ((100vw - 426px) / (768 - 426)));
  }

  .header-wrapper {
    padding: calc(10px + (11 - 10) * ((100vw - 426px) / (768 - 426)))
      calc(14px + (24 - 14) * ((100vw - 426px) / (768 - 426)));
  }

  .header-tagline {
    display: none;
    font-size: 9px;
  }

  .header-burger {
    width: calc(40px + (32 - 40) * ((100vw - 426px) / (768 - 426)));
    height: calc(40px + (32 - 40) * ((100vw - 426px) / (768 - 426)));
  }

  .hero-item .hero_bg-img {
    object-fit: cover;
  }

  .circles-wrapper {
    padding: 0 0;
    scale: 1.5;
  }

  .gift {
    display: none;
  }

  .section_title {
    top: calc(104px + (169 - 104) * ((100vw - 426px) / (768 - 426)));
    left: calc(24px + (96 - 24) * ((100vw - 426px) / (768 - 426)));
  }

  .section_title p {
    margin-top: calc(9px + (15 - 9) * ((100vw - 426px) / (768 - 426)));
    max-width: calc(197px + (206 - 197) * ((100vw - 426px) / (768 - 426)));
  }

  .section_img {
    padding: 0 calc(24px + (144 - 24) * ((100vw - 426px) / (768 - 426)));
  }

  .section_mini-img {
    display: none;
  }

  .section-description {
    bottom: 69px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 34px;
    row-gap: 20px;
  }

  .description-item {
    max-width: calc(128px + (215 - 128) * ((100vw - 426px) / (768 - 426)));
  }

  .description-item > span {
    font-size: 9px;
  }

  .evolution-page {
    padding: 600px 0;
  }

  .ag-timeline_item {
    margin: 0 0 calc(68px + (78 - 68) * ((100vw - 426px) / (768 - 426)));
  }

  .ag-timeline-card_inner {
    display: grid;
    grid-row-gap: 16px;
  }

  .ag-timeline_item:nth-child(2n + 1) .ag-timeline-card_inner {
    padding-right: 27px;
  }

  .ag-timeline_item:nth-child(2n) .ag-timeline-card_inner {
    padding-left: 27px;
  }

  .ag-timeline-card_img {
    width: 100%;
  }

  .ag-timeline_item:nth-child(2n) .ag-timeline-card_img {
    order: 1;
  }

  .ag-timeline-card_info {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .ag-timeline_item:nth-child(2n) .ag-timeline-card_info {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .ag-timeline-card_item {
    margin: -10vh 0 0 0;
  }

  .ag-timeline-card_title {
    font-size: calc(25px + (32 - 25) * ((100vw - 426px) / (768 - 426)));
    margin-bottom: 7px;
  }

  .ag-timeline_item:nth-child(2n + 1) .ag-timeline-card_desc {
    margin-left: 0;
  }

  .ag-timeline_item:nth-child(2n) .ag-timeline-card_desc {
    margin-right: 0;
  }

  .banner-title {
    bottom: calc(49px + (70 - 49) * ((100vw - 426px) / (768 - 426)));
    padding: 0 calc(27px + (63 - 27) * ((100vw - 426px) / (768 - 426)));
  }

  .banner-title h1 {
    font-size: calc(48px + (96 - 48) * ((100vw - 426px) / (768 - 426)));
  }

  .banner-description_wrapper {
    flex-direction: column;
    top: calc(120px + (316 - 120) * ((100vw - 426px) / (768 - 426)));
    padding: 0 calc(19px + (50 - 19) * ((100vw - 426px) / (768 - 426)));
  }

  .banner-description-left {
    padding-left: 0;
    max-width: 200px;
    margin-bottom: 160px;
  }

  .banner-description-left p {
    font-size: 13px;
  }

  .banner-description-right {
    max-width: 200px;
  }

  .banner-description-right span {
    font-size: 11px;
  }

  .banner-btn {
    width: 38px;
    height: 38px;
    margin-top: 20px;
  }

  .page-contest {
    /* padding-top: 15vh; */
  }

  .contest-wrapper {
    padding: 0 calc(20px + (40 - 20) * ((100vw - 426px) / (768 - 426)));
    padding-top: 208px;
    top: 0;
  }

  .contest-container {
    padding: 0 calc(137px + (265 - 137) * ((100vw - 426px) / (768 - 426)));
  }

  .contest-wave {
    top: 35vh;
    scale: 2;
  }

  .contest-left-headphone {
    margin-top: 25vh;
    scale: 2;
  }

  .contest-right-headphone {
    margin-top: 0vh;
    scale: 2;
  }

  .contest-description span {
    margin-top: calc(170px + (193 - 170) * ((100vw - 426px) / (768 - 426)));
    margin-bottom: calc(58px + (89 - 58) * ((100vw - 426px) / (768 - 426)));
    font-size: calc(14px + (16 - 14) * ((100vw - 426px) / (768 - 426)));
    padding: 0 95px;
  }

  .contest-description h1 {
    margin-bottom: calc(33px + (38 - 33) * ((100vw - 426px) / (768 - 426)));
    font-size: calc(32px + (48 - 32) * ((100vw - 426px) / (768 - 426)));
  }

  .contest-btn {
    font-size: calc(11px + (13 - 11) * ((100vw - 426px) / (768 - 426)));
    padding: calc(12px + (17 - 12) * ((100vw - 426px) / (768 - 426)))
      calc(15px + (19 - 15) * ((100vw - 426px) / (768 - 426)));
  }

  #overallBackground {
    background-size: 1000px 1000px;
    background-attachment: fixed;
  }

  .participants-wrapper {
    padding: 0 calc(20px + (62 - 20) * ((100vw - 426px) / (768 - 426)));
    padding-top: 0;
    padding-bottom: 0;
  }

  .participants-items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
  }

  .participants-item_description {
    padding-bottom: calc(36px + (20 - 36) * ((100vw - 426px) / (768 - 426)));
    padding-left: calc(27px + (25 - 27) * ((100vw - 426px) / (768 - 426)));
  }

  .participants-item_description h3 {
    font-size: calc(27px + (20 - 27) * ((100vw - 426px) / (768 - 426)));
  }

  .participants-more {
    margin-top: calc(55px + (64 - 55) * ((100vw - 426px) / (768 - 426)));
    margin-bottom: calc(44px + (64 - 44) * ((100vw - 426px) / (768 - 426)));
  }

  .page-test {
    background-size: auto;
    background-position-x: 70%;
    background-position-y: center;
  }

  .test-container {
    padding: 0 calc(20px + (100 - 20) * ((100vw - 426px) / (768 - 426)));
  }

  .test-container span {
    margin-top: calc(134px + (296 - 134) * ((100vw - 426px) / (768 - 426)));
    font-size: calc(14px + (16 - 14) * ((100vw - 426px) / (768 - 426)));
    padding: 0 calc(54px + (74 - 54) * ((100vw - 426px) / (768 - 426)));
    text-align: center;
  }

  .test-decription {
    margin-top: calc(58px + (97 - 58) * ((100vw - 426px) / (768 - 426)));
  }

  .test-decription h1 {
    font-size: calc(32px + (40 - 32) * ((100vw - 426px) / (768 - 426)));
  }

  .test-decription p {
    margin-top: calc(11px + (19 - 11) * ((100vw - 426px) / (768 - 426)));
    padding: 0 40px;
    font-size: calc(14px + (18 - 14) * ((100vw - 426px) / (768 - 426)));
  }

  .test-btn {
    font-size: calc(11px + (13 - 11) * ((100vw - 426px) / (768 - 426)));
    margin-top: calc(36px + (44 - 36) * ((100vw - 426px) / (768 - 426)));
    padding: calc(17px + (8 - 17) * ((100vw - 426px) / (768 - 426)))
      calc(25px + (17 - 25) * ((100vw - 426px) / (768 - 426)));
  }

  .buy-wrapper {
    padding: 0 calc(20px + (50 - 20) * ((100vw - 426px) / (768 - 426)));
  }

  .buy-title {
    padding-top: calc(142px + (204 - 142) * ((100vw - 426px) / (768 - 426)));
  }

  .buy-title h1 {
    font-size: calc(28px + (48 - 28) * ((100vw - 426px) / (768 - 426)));
  }

  .buy-items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: calc(44px + (22 - 44) * ((100vw - 426px) / (768 - 426)));
    margin-top: calc(112px + (115 - 112) * ((100vw - 426px) / (768 - 426)));
    margin-bottom: calc(174px + (152 - 174) * ((100vw - 426px) / (768 - 426)));
  }

  .buy-item:nth-child(1),
  .buy-item:nth-child(3) {
    margin-top: 0;
  }

  .buy-item_description h3 {
    margin-top: calc(18px + (10 - 18) * ((100vw - 426px) / (768 - 426)));
    font-size: calc(28px + (18 - 28) * ((100vw - 426px) / (768 - 426)));
  }

  .buy-item_description p {
    max-width: calc(201px + (187 - 201) * ((100vw - 426px) / (768 - 426)));
    margin-top: calc(12px + (7 - 12) * ((100vw - 426px) / (768 - 426)));
  }

  .buy-item_btn {
    width: 30%;
    font-size: calc(11px + (13 - 11) * ((100vw - 426px) / (768 - 426)));
    padding: calc(11px + (7 - 11) * ((100vw - 426px) / (768 - 426)))
      calc(24px + (50 - 24) * ((100vw - 426px) / (768 - 426)));
    margin-top: calc(32px + (16 - 32) * ((100vw - 426px) / (768 - 426)));
  }

  .contacts-wrapper hr {
    bottom: calc(48px + (52 - 48) * ((100vw - 426px) / (768 - 426)));
  }

  .contacts-logo {
    padding-top: calc(80px + (195 - 80) * ((100vw - 426px) / (768 - 426)));
  }

  .contacts-container {
    padding: 0 calc(20px + (92 - 20) * ((100vw - 426px) / (768 - 426)));
    margin-top: calc(40px + (140 - 40) * ((100vw - 426px) / (768 - 426)));
    margin-bottom: calc(30px + (131 - 30) * ((100vw - 426px) / (768 - 426)));
    grid-column-gap: 92px;
    grid-template-columns: repeat(1, 1fr);
  }

  .contacts-container p {
    margin-top: 15px;
  }

  .contacts-left {
    max-width: calc(220px + (265 - 220) * ((100vw - 426px) / (768 - 426)));
  }

  .contacts-right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .contacts-right_partners,
  .contacts-right_press {
    max-width: calc(156px + (205 - 156) * ((100vw - 426px) / (768 - 426)));
  }

  .contacts_btn-callback {
    padding: 13px 18px;
    font-size: 11px;
    margin-top: calc(34px + (52 - 34) * ((100vw - 426px) / (768 - 426)));
    width: 60%;
  }

  footer {
    padding: 0 calc(14px + (20 -14) * ((100vw - 426px) / (768 - 426)));
    padding-bottom: calc(10px + (15 - 10) * ((100vw - 426px) / (768 - 426)));
  }

  footer.active {
    z-index: 99;
  }

  footer .left-block span {
    font-size: 10px;
  }

  footer .right-block span {
    width: calc(40px + (32 - 40) * ((100vw - 426px) / (768 - 426)));
    height: calc(40px + (32 - 40) * ((100vw - 426px) / (768 - 426)));
    font-size: 11px;
  }

  .burger-menu_content .burger-menu_list > .burger-menu_list-item {
    font-size: calc(28px + (48 - 28) * ((100vw - 426px) / (768 - 426)));
    padding: 5px calc(60px + (100 - 60) * ((100vw - 426px) / (768 - 426)));
  }

  .banner-modal_content {
    margin-right: 0;
    width: 100%;
    padding: calc(9px + (16 - 9) * ((100vw - 426px) / (768 - 426)))
      calc(8px + (44 - 8) * ((100vw - 426px) / (768 - 426)));
    border-radius: 20px 20px 0px 0px;
  }

  .banner-modal_content.active {
    top: calc(140px + (403 - 140) * ((100vw - 426px) / (768 - 426)));
  }

  .banner-modal_items {
  }

  .banner-modal_item {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 calc(10px + (45 - 10) * ((100vw - 426px) / (768 - 426)));
    height: calc(106px + (124 - 106) * ((100vw - 426px) / (768 - 426)));
  }

  .banner-modal_item span {
    font-size: calc(10px + (11 - 10) * ((100vw - 426px) / (768 - 426)));
    width: calc(168px + (152 - 168) * ((100vw - 426px) / (768 - 426)));
  }

  .banner-modal_close {
    height: calc(37px + (29 - 37) * ((100vw - 426px) / (768 - 426)));
    width: calc(37px + (29 - 37) * ((100vw - 426px) / (768 - 426)));
    margin: 6px 9px;
  }

  .contest-modal_close {
    height: calc(40px + (51 - 40) * ((100vw - 426px) / (768 - 426)));
    width: calc(40px + (51 - 40) * ((100vw - 426px) / (768 - 426)));
    margin: calc(9px + (20 - 9) * ((100vw - 426px) / (768 - 426)))
      calc(18px + (42 - 18) * ((100vw - 426px) / (768 - 426)));
  }

  .contest-modal_content {
    width: 100%;
    border-radius: 28px 0px 0px 28px;
  }

  .contest-modal_wrapper {
    padding: calc(149px + (132 - 149) * ((100vw - 426px) / (768 - 426)))
      calc(18px + (259 - 18) * ((100vw - 426px) / (768 - 426)));
  }

  .contest-modal h3 {
    font-size: calc(28px + (35 - 28) * ((100vw - 426px) / (768 - 426)));
  }

  .contest-input {
    margin-bottom: calc(14px + (15 - 14) * ((100vw - 426px) / (768 - 426)));
  }

  [type="file"] + label.contest_btn-file {
    margin-bottom: calc(14px + (15 - 14) * ((100vw - 426px) / (768 - 426)));
  }

  .contest-checkbox {
    margin-bottom: calc(30px + (38 - 30) * ((100vw - 426px) / (768 - 426)));
  }

  .contest-checkbox p {
    font-size: 10px;
  }

  .form_contest-btn {
    font-size: calc(11px + (18 - 11) * ((100vw - 426px) / (768 - 426)));
  }

  .test-modal_wrapper {
    position: relative;
  }

  .test-modal_content {
    border-radius: 21px;
  }

  .test-modal_header h3 {
    padding: 0 calc(35px + (78 - 35) * ((100vw - 426px) / (768 - 426)));
    font-size: calc(14px + (24 - 14) * ((100vw - 426px) / (768 - 426)));
  }

  .test-modal_body {
    grid-template-columns: repeat(1, 1fr);
    padding: calc(58px + (160 - 58) * ((100vw - 426px) / (768 - 426)))
      calc(45px + (75 - 45) * ((100vw - 426px) / (768 - 426)));
    grid-gap: calc(15px + (25 - 15) * ((100vw - 426px) / (768 - 426)));
  }

  .test-modal_body-item {
    padding: calc(12px + (17 - 12) * ((100vw - 426px) / (768 - 426))) 0;
    font-size: 12px;
  }

  .test-modal_footer {
    padding-bottom: calc(10px + (20 - 10) * ((100vw - 426px) / (768 - 426)));
    font-size: calc(11px + (18 - 11) * ((100vw - 426px) / (768 - 426)));
  }

  .test-modal_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin: 8px 9px;
  }
}

@media (max-width: 376px) {
  body {
    font-size: calc(11px + (14 - 11) * ((100vw - 375px) / (425 - 375)));
  }

  h1 {
    font-size: calc(24px + (40 - 24) * ((100vw - 375px) / (425 - 375)));
  }

  .header-wrapper {
    padding: calc(10px + (11 - 10) * ((100vw - 375px) / (425 - 375)))
      calc(14px + (24 - 14) * ((100vw - 375px) / (425 - 375)));
  }

  .header-tagline {
    display: none;
    font-size: 9px;
  }

  .header-burger {
    width: calc(40px + (32 - 40) * ((100vw - 375px) / (425 - 375)));
    height: calc(40px + (32 - 40) * ((100vw - 375px) / (425 - 375)));
  }

  .hero-item .hero_bg-img {
    object-fit: cover;
  }

  .circles-wrapper {
    padding: 0 0;
    scale: 1.5;
  }

  .gift {
    display: none;
  }

  .section_title {
    top: calc(104px + (169 - 104) * ((100vw - 375px) / (425 - 375)));
    left: calc(24px + (96 - 24) * ((100vw - 375px) / (425 - 375)));
  }

  .section_title p {
    margin-top: calc(9px + (15 - 9) * ((100vw - 375px) / (425 - 375)));
    max-width: calc(197px + (206 - 197) * ((100vw - 375px) / (425 - 375)));
  }

  .section_img {
    padding: 0 calc(24px + (144 - 24) * ((100vw - 375px) / (425 - 375)));
  }

  .section_mini-img {
    display: none;
  }

  .section-description {
    bottom: 69px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 34px;
    row-gap: 20px;
  }

  .description-item {
    max-width: calc(128px + (215 - 128) * ((100vw - 375px) / (425 - 375)));
  }

  .description-item > span {
    font-size: 9px;
  }

  .evolution-page {
    padding: 600px 0;
  }

  .ag-timeline_item {
    margin: 0 0 calc(68px + (78 - 68) * ((100vw - 375px) / (425 - 375)));
  }

  .ag-timeline-card_inner {
    display: grid;
    grid-row-gap: 16px;
  }

  .ag-timeline_item:nth-child(2n + 1) .ag-timeline-card_inner {
    padding-right: 27px;
  }

  .ag-timeline_item:nth-child(2n) .ag-timeline-card_inner {
    padding-left: 27px;
  }

  .ag-timeline-card_img {
    width: 100%;
  }

  .ag-timeline_item:nth-child(2n) .ag-timeline-card_img {
    order: 1;
  }

  .ag-timeline-card_info {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .ag-timeline_item:nth-child(2n) .ag-timeline-card_info {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .ag-timeline-card_item {
    margin: -10vh 0 0 0;
  }

  .ag-timeline-card_title {
    font-size: calc(25px + (32 - 25) * ((100vw - 375px) / (425 - 375)));
    margin-bottom: 7px;
  }

  .ag-timeline_item:nth-child(2n + 1) .ag-timeline-card_desc {
    margin-left: 0;
  }

  .ag-timeline_item:nth-child(2n) .ag-timeline-card_desc {
    margin-right: 0;
  }

  .banner-title {
    bottom: calc(49px + (70 - 49) * ((100vw - 375px) / (425 - 375)));
    padding: 0 calc(27px + (63 - 27) * ((100vw - 375px) / (425 - 375)));
  }

  .banner-title h1 {
    font-size: calc(48px + (96 - 48) * ((100vw - 375px) / (425 - 375)));
  }

  .banner-description_wrapper {
    flex-direction: column;
    top: calc(120px + (316 - 120) * ((100vw - 375px) / (425 - 375)));
    padding: 0 calc(19px + (50 - 19) * ((100vw - 375px) / (425 - 375)));
  }

  .banner-description-left {
    padding-left: 0;
    max-width: 200px;
    margin-bottom: 160px;
  }

  .banner-description-left p {
    font-size: 13px;
  }

  .banner-description-right {
    max-width: 200px;
  }

  .banner-description-right span {
    font-size: 11px;
  }

  .banner-btn {
    width: 38px;
    height: 38px;
    margin-top: 20px;
  }

  .page-contest {
    /* padding-top: 15vh; */
  }

  .contest-wrapper {
    padding: 0 calc(20px + (40 - 20) * ((100vw - 375px) / (425 - 375)));
    padding-top: 208px;
    top: 0;
  }

  .contest-container {
    padding: 0 calc(137px + (265 - 137) * ((100vw - 375px) / (425 - 375)));
  }

  .contest-wave {
    top: 35vh;
    scale: 2;
  }

  .contest-left-headphone {
    margin-top: 25vh;
    scale: 2;
  }

  .contest-right-headphone {
    margin-top: 0vh;
    scale: 2;
  }

  .contest-description span {
    margin-top: calc(170px + (193 - 170) * ((100vw - 375px) / (425 - 375)));
    margin-bottom: calc(58px + (89 - 58) * ((100vw - 375px) / (425 - 375)));
    font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (425 - 375)));
    padding: 0 95px;
  }

  .contest-description h1 {
    margin-bottom: calc(33px + (38 - 33) * ((100vw - 375px) / (425 - 375)));
    font-size: calc(32px + (48 - 32) * ((100vw - 375px) / (425 - 375)));
  }

  .contest-btn {
    font-size: calc(11px + (13 - 11) * ((100vw - 375px) / (425 - 375)));
    padding: calc(12px + (17 - 12) * ((100vw - 375px) / (425 - 375)))
      calc(15px + (19 - 15) * ((100vw - 375px) / (425 - 375)));
  }

  #overallBackground {
    background-size: 1000px 1000px;
    background-attachment: fixed;
  }

  .participants-wrapper {
    padding: 0 calc(20px + (62 - 20) * ((100vw - 375px) / (425 - 375)));
    padding-top: 0;
    padding-bottom: 0;
  }

  .participants-items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
  }

  .participants-item_description {
    padding-bottom: calc(36px + (20 - 36) * ((100vw - 375px) / (425 - 375)));
    padding-left: calc(27px + (25 - 27) * ((100vw - 375px) / (425 - 375)));
  }

  .participants-item_description h3 {
    font-size: calc(27px + (20 - 27) * ((100vw - 375px) / (425 - 375)));
  }

  .participants-more {
    margin-top: calc(55px + (64 - 55) * ((100vw - 375px) / (425 - 375)));
    margin-bottom: calc(44px + (64 - 44) * ((100vw - 375px) / (425 - 375)));
  }

  .page-test {
    background-size: auto;
    background-position-x: 70%;
    background-position-y: center;
  }

  .test-container {
    padding: 0 calc(20px + (100 - 20) * ((100vw - 375px) / (425 - 375)));
  }

  .test-container span {
    margin-top: calc(134px + (296 - 134) * ((100vw - 375px) / (425 - 375)));
    font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (425 - 375)));
    padding: 0 calc(54px + (74 - 54) * ((100vw - 375px) / (425 - 375)));
    text-align: center;
  }

  .test-decription {
    margin-top: calc(58px + (97 - 58) * ((100vw - 375px) / (425 - 375)));
  }

  .test-decription h1 {
    font-size: calc(32px + (40 - 32) * ((100vw - 375px) / (425 - 375)));
  }

  .test-decription p {
    margin-top: calc(11px + (19 - 11) * ((100vw - 375px) / (425 - 375)));
    padding: 0 40px;
    font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (425 - 375)));
  }

  .test-btn {
    font-size: calc(11px + (13 - 11) * ((100vw - 375px) / (425 - 375)));
    margin-top: calc(36px + (44 - 36) * ((100vw - 375px) / (425 - 375)));
    padding: calc(17px + (8 - 17) * ((100vw - 375px) / (425 - 375)))
      calc(25px + (17 - 25) * ((100vw - 375px) / (425 - 375)));
  }

  .buy-wrapper {
    padding: 0 calc(20px + (50 - 20) * ((100vw - 375px) / (425 - 375)));
  }

  .buy-title {
    padding-top: calc(142px + (204 - 142) * ((100vw - 375px) / (425 - 375)));
  }

  .buy-title h1 {
    font-size: calc(28px + (48 - 28) * ((100vw - 375px) / (425 - 375)));
  }

  .buy-items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: calc(44px + (22 - 44) * ((100vw - 375px) / (425 - 375)));
    margin-top: calc(112px + (115 - 112) * ((100vw - 375px) / (425 - 375)));
    margin-bottom: calc(174px + (152 - 174) * ((100vw - 375px) / (425 - 375)));
  }

  .buy-item:nth-child(1),
  .buy-item:nth-child(3) {
    margin-top: 0;
  }

  .buy-item_description h3 {
    margin-top: calc(18px + (10 - 18) * ((100vw - 375px) / (425 - 375)));
    font-size: calc(28px + (18 - 28) * ((100vw - 375px) / (425 - 375)));
  }

  .buy-item_description p {
    max-width: calc(201px + (187 - 201) * ((100vw - 375px) / (425 - 375)));
    margin-top: calc(12px + (7 - 12) * ((100vw - 375px) / (425 - 375)));
  }

  .buy-item_btn {
    width: 30%;
    font-size: calc(11px + (13 - 11) * ((100vw - 375px) / (425 - 375)));
    padding: calc(11px + (7 - 11) * ((100vw - 375px) / (425 - 375)))
      calc(24px + (50 - 24) * ((100vw - 375px) / (425 - 375)));
    margin-top: calc(32px + (16 - 32) * ((100vw - 375px) / (425 - 375)));
  }

  .contacts-wrapper hr {
    bottom: calc(48px + (52 - 48) * ((100vw - 375px) / (425 - 375)));
  }

  .contacts-logo {
    padding-top: calc(80px + (195 - 80) * ((100vw - 375px) / (425 - 375)));
  }

  .contacts-container {
    padding: 0 calc(20px + (92 - 20) * ((100vw - 375px) / (425 - 375)));
    margin-top: calc(40px + (140 - 40) * ((100vw - 375px) / (425 - 375)));
    margin-bottom: calc(30px + (131 - 30) * ((100vw - 375px) / (425 - 375)));
    grid-column-gap: 92px;
    grid-template-columns: repeat(1, 1fr);
  }

  .contacts-container p {
    margin-top: 15px;
  }

  .contacts-left {
    max-width: calc(220px + (265 - 220) * ((100vw - 375px) / (425 - 375)));
  }

  .contacts-right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .contacts-right_partners,
  .contacts-right_press {
    max-width: calc(156px + (205 - 156) * ((100vw - 375px) / (425 - 375)));
  }

  .contacts_btn-callback {
    padding: 13px 18px;
    font-size: 11px;
    margin-top: calc(34px + (52 - 34) * ((100vw - 375px) / (425 - 375)));
    width: 60%;
  }

  footer {
    padding: 0 calc(14px + (20 -14) * ((100vw - 375px) / (425 - 375)));
    padding-bottom: calc(10px + (15 - 10) * ((100vw - 375px) / (425 - 375)));
  }

  footer.active {
    z-index: 99;
  }

  footer .left-block span {
    font-size: 10px;
  }

  footer .right-block span {
    width: calc(40px + (32 - 40) * ((100vw - 375px) / (425 - 375)));
    height: calc(40px + (32 - 40) * ((100vw - 375px) / (425 - 375)));
    font-size: 11px;
  }

  .burger-menu_content .burger-menu_list > .burger-menu_list-item {
    font-size: calc(28px + (48 - 28) * ((100vw - 375px) / (425 - 375)));
    padding: 5px calc(60px + (100 - 60) * ((100vw - 375px) / (425 - 375)));
  }

  .banner-modal_content {
    margin-right: 0;
    width: 100%;
    padding: calc(9px + (16 - 9) * ((100vw - 375px) / (425 - 375)))
      calc(8px + (44 - 8) * ((100vw - 375px) / (425 - 375)));
    border-radius: 20px 20px 0px 0px;
  }

  .banner-modal_content.active {
    top: calc(140px + (403 - 140) * ((100vw - 375px) / (425 - 375)));
  }

  .banner-modal_items {
  }

  .banner-modal_item {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 calc(10px + (45 - 10) * ((100vw - 375px) / (425 - 375)));
    height: calc(106px + (124 - 106) * ((100vw - 375px) / (425 - 375)));
  }

  .banner-modal_item span {
    font-size: calc(10px + (11 - 10) * ((100vw - 375px) / (425 - 375)));
    width: calc(168px + (152 - 168) * ((100vw - 375px) / (425 - 375)));
  }

  .banner-modal_close {
    height: calc(37px + (29 - 37) * ((100vw - 375px) / (425 - 375)));
    width: calc(37px + (29 - 37) * ((100vw - 375px) / (425 - 375)));
    margin: 6px 9px;
  }

  .contest-modal_close {
    height: calc(40px + (51 - 40) * ((100vw - 375px) / (425 - 375)));
    width: calc(40px + (51 - 40) * ((100vw - 375px) / (425 - 375)));
    margin: calc(9px + (20 - 9) * ((100vw - 375px) / (425 - 375)))
      calc(18px + (42 - 18) * ((100vw - 375px) / (425 - 375)));
  }

  .contest-modal_content {
    width: 100%;
    border-radius: 28px 0px 0px 28px;
  }

  .contest-modal_wrapper {
    padding: calc(149px + (132 - 149) * ((100vw - 375px) / (425 - 375)))
      calc(18px + (259 - 18) * ((100vw - 375px) / (425 - 375)));
  }

  .contest-modal h3 {
    font-size: calc(28px + (35 - 28) * ((100vw - 375px) / (425 - 375)));
  }

  .contest-input {
    margin-bottom: calc(14px + (15 - 14) * ((100vw - 375px) / (425 - 375)));
  }

  [type="file"] + label.contest_btn-file {
    margin-bottom: calc(14px + (15 - 14) * ((100vw - 375px) / (425 - 375)));
  }

  .contest-checkbox {
    margin-bottom: calc(30px + (38 - 30) * ((100vw - 375px) / (425 - 375)));
  }

  .contest-checkbox p {
    font-size: 10px;
  }

  .form_contest-btn {
    font-size: calc(11px + (18 - 11) * ((100vw - 375px) / (425 - 375)));
  }

  .test-modal_wrapper {
    position: relative;
  }

  .test-modal_content {
    border-radius: 21px;
  }

  .test-modal_header h3 {
    padding: 0 calc(35px + (78 - 35) * ((100vw - 375px) / (425 - 375)));
    font-size: calc(14px + (24 - 14) * ((100vw - 375px) / (425 - 375)));
  }

  .test-modal_body {
    grid-template-columns: repeat(1, 1fr);
    padding: calc(58px + (160 - 58) * ((100vw - 375px) / (425 - 375)))
      calc(45px + (75 - 45) * ((100vw - 375px) / (425 - 375)));
    grid-gap: calc(15px + (25 - 15) * ((100vw - 375px) / (425 - 375)));
  }

  .test-modal_body-item {
    padding: calc(12px + (17 - 12) * ((100vw - 375px) / (425 - 375))) 0;
    font-size: 12px;
  }

  .test-modal_footer {
    padding-bottom: calc(10px + (20 - 10) * ((100vw - 375px) / (425 - 375)));
    font-size: calc(11px + (18 - 11) * ((100vw - 375px) / (425 - 375)));
  }

  .test-modal_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin: 8px 9px;
  }
}
