@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Halvar Breitschrift DEMO";
  src: url(/assets/fonts/HalvarBreitschriftDEMO-Bold.otf);
}

/* Анимации @keyframes */
/* Анимация фона для таймлайна */
.first-background {
  background: radial-gradient(
      50% 50% at 50% 50%,
      #162287 0%,
      rgba(24, 26, 32, 0) 100%
    ),
    radial-gradient(50% 50% at 50% 50%, #551687 0%, rgba(24, 26, 32, 0) 100%),
    radial-gradient(50% 50% at 50% 50%, #558716 0%, rgba(24, 26, 32, 0) 100%),
    radial-gradient(50% 50% at 50% 50%, #fe3b1f 0%, rgba(15, 16, 17, 0) 100%),
    #000000;
  background-position: 0% -30%, 100% 20%, 0% 60%, 100% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 3000px 3000px, 3000px 3000px, 3000px 3000px, 3000px 3000px;
  background-attachment: scroll;
  animation: bganimationFirst 15s infinite;
  -webkit-animation: bganimationFirst 15s infinite;
}

@keyframes bganimationFirst {
  0% {
    background-position: 0% -30%, 100% 20%, 0% 60%, 100% 100%;
  }

  50% {
    background-position: 0% 0%, 100% 40%, 0% 80%, 100% 100%;
  }

  100% {
    background-position: 50% 10%, 50% 20%, 50% 60%, 50% 80%;
  }
}

/* Анимация звуковой волны */
.sound-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sound-wave {
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sound-wave .bar {
  display: block;
  width: 1px;
  margin-right: 1px;
  height: 60px;
  background: #fefefe;
  border-radius: 50px;
  animation: sound 0ms -800ms linear infinite alternate;
  transition: height 0.8s;
}

.sound-wave .bar2 {
  display: block;
  width: 2px;
  margin-right: 1px;
  height: 70px;
  background: #fefefe;
  border-radius: 50px;
  animation: sound2 0ms -800ms linear infinite alternate;
  transition: height 0.8s;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 6px;
  }

  100% {
    opacity: 1;
    height: 21px;
  }
}

@keyframes sound2 {
  0% {
    opacity: 0.35;
    height: 6px;
  }

  100% {
    opacity: 1;
    height: 21px;
  }
}

.bar:nth-child(1) {
  height: 35px;
  animation-duration: 474ms;
}

.bar:nth-child(2) {
  height: 10px;
  animation-duration: 433ms;
}

.bar:nth-child(3) {
  height: 20px;
  animation-duration: 407ms;
}

.bar:nth-child(4) {
  height: 5px;
  animation-duration: 458ms;
}

.bar:nth-child(5) {
  height: 20px;
  animation-duration: 400ms;
}

.bar:nth-child(6) {
  height: 10px;
  animation-duration: 427ms;
}

.bar:nth-child(7) {
  height: 35px;
  animation-duration: 441ms;
}
/* End @keyframes */

/* Delete scrollbar in body */
body::-webkit-scrollbar {
  display: none;
}

body {
  background: #1e1e1e;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: calc(13px + (18 - 13) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 400;
  line-height: 1.2;
  overflow-x: hidden;
}

body.active {
  overflow: hidden;
}

h1 {
  font-family: Halvar Breitschrift DEMO;
  font-weight: 700;
  text-transform: uppercase;
  font-size: calc(48px + (65 - 48) * ((100vw - 1440px) / (1920 - 1440)));
  line-height: 0.92;
}

header {
  position: fixed;
  background: transparent;
  z-index: 99;
  width: 100vw;
}

.header-wrapper {
  padding: calc(14px + (20 - 14) * ((100vw - 1440px) / (1920 - 1440)))
    calc(27px + (37 - 27) * ((100vw - 1440px) / (1920 - 1440)));
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
}

.header-logo img {
  width: 100%;
}

.header-tagline {
  font-family: Halvar Breitschrift DEMO;
  font-size: calc(10px + (14 - 10) * ((100vw - 1440px) / (1920 - 1440)));
  text-transform: uppercase;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-music {
}

.header-burger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  width: calc(35px + (47 - 35) * ((100vw - 1440px) / (1920 - 1440)));
  height: calc(35px + (47 - 35) * ((100vw - 1440px) / (1920 - 1440)));
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.header-burger span {
  position: absolute;
  top: 50%;
  display: block;
  width: 55%;
}

.header-burger span::before,
.header-burger span::after {
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  content: "";
}

.header-burger span::before {
  bottom: -3px;
  transition: bottom 0.1s, transform 0.3s;
  -webkit-transition: bottom 0.1s, transform 0.3s;
  -moz-transition: bottom 0.1s, transform 0.3s;
  -ms-transition: bottom 0.1s, transform 0.3s;
  -o-transition: bottom 0.1s, transform 0.3s;
  transition-property: bottom, transform;
}

.header-burger span::after {
  bottom: 3px;
  transition: bottom 0.1s, transform 0.3s;
  -webkit-transition: bottom 0.1s, transform 0.3s;
  -moz-transition: bottom 0.1s, transform 0.3s;
  -ms-transition: bottom 0.1s, transform 0.3s;
  -o-transition: bottom 0.1s, transform 0.3s;
  transition-property: bottom, transform;
}

.header-burger:hover {
  background: #ffffff;
  box-shadow: 0px 0px 47px 5px #cb884a, inset 0px 0px 5px rgb(0 0 0 / 25%);
}

.header-burger:hover span:before,
.header-burger:hover span::after {
  background-color: #111112;
}

.header-burger:hover span {
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
}

.header-burger:hover span::before {
  bottom: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: bottom 0.7s, transform 0.4s;
  -webkit-transition: bottom 0.7s, transform 0.4s;
  -moz-transition: bottom 0.7s, transform 0.4s;
  -ms-transition: bottom 0.7s, transform 0.4s;
  -o-transition: bottom 0.7s, transform 0.4s;
  transition-delay: 0s, 0.2s;
  transition-property: bottom, transform;
}

.header-burger:hover span::after {
  bottom: 0;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transition: bottom 0.7s, transform 0.3s;
  -webkit-transition: bottom 0.7s, transform 0.3s;
  -moz-transition: bottom 0.7s, transform 0.3s;
  -ms-transition: bottom 0.7s, transform 0.3s;
  -o-transition: bottom 0.7s, transform 0.3s;
  transition-delay: 0s, 0.2s;
  transition-property: bottom, transform;
}

.header-burger.active span {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.header-burger.active span::before {
  bottom: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);

  transition: rotate 0.8s;
  -webkit-transition: rotate 0.8s;
  -moz-transition: rotate 0.8s;
  -ms-transition: rotate 0.8s;
  -o-transition: rotate 0.8s;
}

.header-burger.active span::after {
  bottom: 0;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);

  transition: rotate 0.8s;
  -webkit-transition: rotate 0.8s;
  -moz-transition: rotate 0.8s;
  -ms-transition: rotate 0.8s;
  -o-transition: rotate 0.8s;
}

/* Главный экран */
html,
body,
.hero-container {
  height: 100%;
}

.hero_bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.hero-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.hero-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-item .hero_bg-img {
  width: 100%;
  height: 120%;
  object-fit: cover;
}

.heroItem-title {
  position: relative;
}

.circles-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 calc(223px + (297 - 223) * ((100vw - 1440px) / (1920 - 1440)));
  overflow: hidden;
  transform-origin: center center;
}

.circles-wrapper svg {
  width: 100%;
}

.gift-link {
  margin-right: calc(197px + (263 - 197) * ((100vw - 1440px) / (1920 - 1440)));
}

.gift {
  width: calc(108px + (144 - 108) * ((100vw - 1440px) / (1920 - 1440)));
  height: calc(108px + (144 - 108) * ((100vw - 1440px) / (1920 - 1440)));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #cb884a;
  border: 2px solid #f0a560;
  box-shadow: 0px 0px 47px 5px #cb884a, inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  cursor: pointer;
}

.gift > span {
  font-size: calc(10.5px + (14 - 10.5) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 700;
  text-transform: uppercase;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-elem_wrapper {
  position: absolute;
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 calc(180px + (240 - 180) * ((100vw - 1440px) / (1920 - 1440)));
}

.section-title_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section_title {
}

.section_title h1 {
  max-width: 120px;
}

.section_title p {
  margin-top: calc(23px + (30 - 23) * ((100vw - 1440px) / (1920 - 1440)));
  max-width: calc(246px + (330 - 246) * ((100vw - 1440px) / (1920 - 1440)));
  text-indent: 1.9rem;
}

.section_img {
  width: 100vw;
  display: grid;
  justify-content: center;
  padding: 0 calc(420px + (560 - 420) * ((100vw - 1440px) / (1920 - 1440)));
  z-index: 0;
}

.section_img img {
  width: 100%;
}

.section_mini-img {
  display: flex;
  justify-content: flex-end;
  margin-right: calc(117px + (155 - 117) * ((100vw - 1440px) / (1920 - 1440)));
  margin-top: -20vh;
}

.section_mini-img img {
  width: calc(177px + (237 - 177) * ((100vw - 1440px) / (1920 - 1440)));
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.section-description {
  position: absolute;
  bottom: 60px;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: calc(80px + (108 - 80) * ((100vw - 1440px) / (1920 - 1440)));
}

.description-item {
  max-width: calc(167px + (220 - 167) * ((100vw - 1440px) / (1920 - 1440)));
  line-height: 1;
}

.description-item > span {
  font-size: calc(10px + (14 - 10) * ((100vw - 1440px) / (1920 - 1440)));
}

.description-item > span::before {
  display: block;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #ffffff;
  margin-bottom: 7px;
}

/* Экран c таймлайном */
.evolution-page {
  overflow-x: hidden;
  padding: 600px 0;
}

.evolution-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.ag-timeline_title-box {
  padding: 0 0 30px;
  text-align: center;
}

.ag-timeline_tagline {
  font-size: 40px;
  color: rgb(84, 89, 95);
}

.ag-timeline_item {
  position: relative;
  margin: 0 0 calc(58px + (78 - 58) * ((100vw - 1440px) / (1920 - 1440)));
}

.ag-timeline_item:nth-child(2n) {
  text-align: right;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_img {
  order: 2;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_info {
  order: 1;
  margin-right: -70px;
  margin-left: 70px;
}

.ag-timeline {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  max-width: 100%;
}

.ag-timeline_line {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent 100%
  );
  background-size: 1px 15px;
  border: none;
  width: 1.5px;
  position: absolute;
  top: 2px;
  left: 50%;
  bottom: 0;
  overflow: hidden;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: -60vh;
}

.ag-timeline_line-progress {
  width: 100%;
  height: 20%;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255),
    rgba(255, 255, 255) 75%,
    transparent 75%,
    transparent 100%
  );
  background-size: 1px 15px;
  border: none;
}

.ag-timeline-card_box {
  padding: 0 0 0 50%;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
  padding: 0 50% 0 0;
}

.ag-timeline-card_point-box {
  display: inline-block;
  margin: 150px 0 0 -12px;
  /* margin-top: 150px; */
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
  margin: 150px 12px 0 0;
}

.ag-timeline-card_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ag-timeline-card_img-box img {
  width: 100%;
}

.ag-timeline-card_info {
  width: 40%;
  margin-left: -70px;
  margin-right: 70px;
  z-index: 1;
}

.ag-timeline-card_point {
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: #2a213e;
  border-radius: 50%;
  border: 7px solid #ffffff;
  box-shadow: 0px 0px 20px 2px #ffffffa6;
  opacity: 0.2;
  z-index: 9;
  transition-duration: 0.4s;
}

.js-ag-active .ag-timeline-card_point {
  opacity: 1;
  transition-duration: 0.4s;
}

.ag-timeline-card_item {
  position: relative;
  display: inline-block;
  width: 50%;
  margin: -20vh 0 0 0;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -moz-transition: -moz-transform 0.5s, opacity 0.5s;
  -o-transition: -o-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.ag-timeline_item:nth-child(2n + 1)
  .ag-timeline-card_item
  .ag-timeline-card_inner
  .ag-timeline-card_img,
.ag-timeline_item:nth-child(2n + 1)
  .ag-timeline-card_item
  .ag-timeline-card_inner
  .ag-timeline-card_info
  .ag-timeline-card_desc {
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transform: translateX(-200%) scale(0.1);
  transition: all 0.6s;
  opacity: 0;
}

.ag-timeline_item:nth-child(2n)
  .ag-timeline-card_item
  .ag-timeline-card_inner
  .ag-timeline-card_img,
.ag-timeline_item:nth-child(2n)
  .ag-timeline-card_item
  .ag-timeline-card_inner
  .ag-timeline-card_desc {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%) scale(0.1);
  transition: all 0.6s;
  opacity: 0;
}

.js-ag-active.ag-timeline_item:nth-child(2n + 1)
  .ag-timeline-card_item
  .ag-timeline-card_inner
  .ag-timeline-card_img,
.js-ag-active.ag-timeline_item:nth-child(2n)
  .ag-timeline-card_item
  .ag-timeline-card_inner
  .ag-timeline-card_img,
.js-ag-active.ag-timeline_item:nth-child(2n + 1)
  .ag-timeline-card_item
  .ag-timeline-card_inner
  .ag-timeline-card_info
  .ag-timeline-card_desc,
.js-ag-active.ag-timeline_item:nth-child(2n)
  .ag-timeline-card_item
  .ag-timeline-card_inner
  .ag-timeline-card_info
  .ag-timeline-card_desc {
  opacity: 1;
  transform: translateX(0) scale(1);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.ag-timeline-card_img {
  width: 60%;
  opacity: 0.8;
}

.ag-timeline-card_title {
  display: block;
  font-family: Halvar Breitschrift DEMO;
  font-weight: 500;
  font-size: calc(48px + (64 - 48) * ((100vw - 1440px) / (1920 - 1440)));
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  margin-bottom: 18px;
  text-align: right;
  opacity: 0.2;
  transition-duration: 0.4s;
}

.js-ag-active .ag-timeline-card_title {
  opacity: 1;
  transition-duration: 0.4s;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_title {
  text-align: left;
}

.ag-timeline-card_desc {
  text-align: right;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_desc {
  text-align: left;
}

/* Экран с баннером */
.page-banner {
  overflow: hidden;
}

.banner-wrapper {
}

.banner_horizontal-container {
  width: 200%;
  display: flex;
  overflow-x: hidden;
}

.banner-first {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.banner-second {
  width: 100vw;
  overflow: hidden;
}

.banner-second img {
  width: 100%;
  height: 100%;
}

.ban-img {
  object-fit: cover;
}

.banner-radius {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  /* transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2); */
  width: 100%;
  height: 100%;
}

.banner-title {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: calc(67px + (88 - 67) * ((100vw - 1440px) / (1920 - 1440)));
  padding: 0 calc(70px + (93 - 70) * ((100vw - 1440px) / (1920 - 1440)));
  overflow: hidden;
}

.banner-title h1 {
  font-family: Halvar Breitschrift DEMO;
  font-weight: 700;
  text-transform: uppercase;
  font-size: calc(165px + (220 - 165) * ((100vw - 1440px) / (1920 - 1440)));
}

.banner-description_wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: calc(204px + (304 - 204) * ((100vw - 1440px) / (1920 - 1440)));
  padding: 0 calc(114px + (200 - 114) * ((100vw - 1440px) / (1920 - 1440)));
  opacity: 1;
}

.banner-description-left {
  padding-left: 38px;
  max-width: 300px;
}

.banner-description-left p {
  text-indent: 1.9rem;
}

.banner-description-left::before {
  background-color: #ffffff;
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  margin-bottom: 6px;
}

.banner-description-right {
  max-width: 280px;
}

.banner-description-right span {
  font-size: calc(12px + (14 - 12) * ((100vw - 1440px) / (1920 - 1440)));
}

.banner-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(39px + (53 - 39) * ((100vw - 1440px) / (1920 - 1440)));
  height: calc(39px + (53 - 39) * ((100vw - 1440px) / (1920 - 1440)));
  margin-top: 28px;
  background: #cb884a;
  border: 2px solid #f0a560;
  box-shadow: 0px 0px 35.25px 3.75px #cb884a,
    inset 0px 0px 3.75px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
}

.banner-btn:hover span {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.banner-btn:not(span):hover {
  background: transparent;
  box-shadow: 0px 0px 55.25px 5.75px #cb884a,
    inset 0px 0px 4.75px rgba(0, 0, 0, 0.55);
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
}

.banner-btn span {
  position: absolute;
  display: block;
  width: 55%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.banner-btn span::before,
.banner-btn span::after {
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  content: "";
}

.banner-btn span::before {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.banner-btn span::after {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

/* Экран с конкурсом */
.page-contest {
  width: 100%;
  height: 100vh;
  margin-top: -1px;
  overflow: hidden;
}

.contest-wrapper {
  position: relative;
  padding: 0 calc(50px + (60 - 50) * ((100vw - 1440px) / (1920 - 1440)));
  width: 100%;
}

.contest-wave {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  z-index: -1;
  transform: translateY(-20%) scale(0.1);
  -webkit-transform: translateY(-20%) scale(0.1);
  -moz-transform: translateY(-20%) scale(0.1);
  -ms-transform: translateY(-20%) scale(0.1);
  -o-transform: translateY(-20%) scale(0.1);
}

.contest-headphones-container {
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.contest-left-headphone {
  margin-left: -30%;
}

.contest-right-headphone {
  margin-right: -30%;
}

.contest-left-headphone img,
.contest-right-headphone img {
  width: 100%;
}

.contest-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 calc(388px + (456 - 388) * ((100vw - 1440px) / (1920 - 1440)));
  transform: translateY(-20%);
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -o-transform: translateY(-20%);
}

.contest-description {
}

.contest-description span {
  display: block;
  margin-top: calc(173px + (231 - 173) * ((100vw - 1440px) / (1920 - 1440)));
  margin-bottom: calc(56px + (76 - 56) * ((100vw - 1440px) / (1920 - 1440)));
  font-size: calc(18px + (24 - 18) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 500;
  transform: translateY(-300%);
  -webkit-transform: translateY(-300%);
  -moz-transform: translateY(-300%);
  -ms-transform: translateY(-300%);
  -o-transform: translateY(-300%);
  opacity: 0;
}

.contest-description h1 {
  display: block;
  margin-bottom: calc(35px + (49 - 35) * ((100vw - 1440px) / (1920 - 1440)));
  font-family: Halvar Breitschrift DEMO;
  font-size: calc(62px + (82 - 62) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 700;
  line-height: 0.92;
  transform: translateY(-80%);
  -webkit-transform: translateY(-80%);
  -moz-transform: translateY(-80%);
  -ms-transform: translateY(-80%);
  -o-transform: translateY(-80%);
  opacity: 0;
}

.contest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(11px + (14 - 11) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 700;
  text-transform: uppercase;
  padding: calc(17px + (23 - 17) * ((100vw - 1440px) / (1920 - 1440)))
    calc(23px + (36 - 23) * ((100vw - 1440px) / (1920 - 1440)));
  background: #cb884a;
  border: 2px solid #f0a560;
  box-shadow: 0px 0px 47px 5px #cb884a, inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5000px;
  cursor: pointer;
  transform: translateY(600%);
  -webkit-transform: translateY(600%);
  -moz-transform: translateY(600%);
  -ms-transform: translateY(600%);
  -o-transform: translateY(600%);
  opacity: 0;
}

.contest-btn:hover {
  background: transparent;
  box-shadow: 0px 0px 55.25px 5.75px #cb884a,
    inset 0px 0px 4.75px rgba(0, 0, 0, 0.55);
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
}

#overallBackground {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #363d45 0%,
    rgba(24, 26, 32, 0) 50%
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 3000px 3000px;
}

/* Экран с участниками */
.page-participants {
}

.participants-wrapper {
  padding: 0 calc(40px + (50 - 40) * ((100vw - 1440px) / (1920 - 1440)));
  padding-top: calc(142px + (190 - 142) * ((100vw - 1440px) / (1920 - 1440)));
  padding-bottom: calc(82px + (110 - 82) * ((100vw - 1440px) / (1920 - 1440)));
}

.participants-items {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 28px;
}

.participants-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.participants-item_img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.participants-item_img img {
  width: 100%;
  border-radius: 37px;
}

.participants-item_img::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 37px;
  background: transparent;
  background: linear-gradient(
    180deg,
    rgba(26, 27, 29, 0.153846) 0%,
    #1a1b1d 100%
  );
}

.participants-item_description {
  position: absolute;
  bottom: 0;
  padding-bottom: calc(35px + (43 - 35) * ((100vw - 1440px) / (1920 - 1440)));
  padding-left: calc(25px + (34 - 25) * ((100vw - 1440px) / (1920 - 1440)));
}

.participants-item_description h3 {
  margin: 0;
  font-family: Halvar Breitschrift DEMO;
  font-size: calc(27px + (36 - 27) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 700;
  line-height: 1;
}

.participants-more {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: calc(64px + (84 - 64) * ((100vw - 1440px) / (1920 - 1440)));
  width: 100%;
  cursor: pointer;
}

.participants-more::after {
  content: url(/assets/image/arrow_more.png);
  margin-left: 27px;
}

/* Экран с тестом */
.page-test {
  background: url(/assets/image/test_img.png) center no-repeat;
  background-size: contain;
  position: relative;
  height: 100vh;
}

.test-wrapper {
}

.test-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 calc(380px + (506 - 380) * ((100vw - 1440px) / (1920 - 1440)));
}

.test-container span {
  margin-top: calc(162px + (217 - 162) * ((100vw - 1440px) / (1920 - 1440)));
  font-size: calc(18px + (24 - 18) * ((100vw - 1440px) / (1920 - 1440)));
  text-transform: uppercase;
}

.test-decription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: calc(64px + (85 - 64) * ((100vw - 1440px) / (1920 - 1440)));
}

.test-decription p {
  margin-top: calc(10px + (13 - 10) * ((100vw - 1440px) / (1920 - 1440)));
  padding: 0 calc(155px + (213 - 155) * ((100vw - 1440px) / (1920 - 1440)));
  font-size: calc(18px + (24 - 18) * ((100vw - 1440px) / (1920 - 1440)));
}

.test-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(11px + (14 - 11) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 700;
  text-transform: uppercase;
  margin-top: calc(44px + (80 - 44) * ((100vw - 1440px) / (1920 - 1440)));
  padding: calc(17px + (23 - 17) * ((100vw - 1440px) / (1920 - 1440)))
    calc(23px + (36 - 23) * ((100vw - 1440px) / (1920 - 1440)));
  background: #cb884a;
  border: 2px solid #f0a560;
  box-shadow: 0px 0px 47px 5px #cb884a, inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5000px;
  cursor: pointer;
}

.test-btn:hover {
  background: transparent;
  box-shadow: 0px 0px 55.25px 5.75px #cb884a,
    inset 0px 0px 4.75px rgba(0, 0, 0, 0.55);
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
}

/* Экран покупки */
.page-buy {
}

.buy-wrapper {
  padding: 0 calc(152px + (202 - 152) * ((100vw - 1440px) / (1920 - 1440)));
}

.buy-title {
  padding-top: calc(160px + (213 - 160) * ((100vw - 1440px) / (1920 - 1440)));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-title h1:nth-child(1) {
}

.buy-title h1:nth-child(2) {
  color: #797979;
}

.buy-title h1:nth-child(3) {
  color: #fe3b1f;
}

.buy-items {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(38px + (50 - 38) * ((100vw - 1440px) / (1920 - 1440)));
  margin-top: calc(98px + (130 - 98) * ((100vw - 1440px) / (1920 - 1440)));
  margin-bottom: calc(85px + (113 - 85) * ((100vw - 1440px) / (1920 - 1440)));
}

.buy-item {
  display: flex;
  flex-direction: column;
}

.buy-item:nth-child(1),
.buy-item:nth-child(3) {
  margin-top: calc(82px + (108 - 82) * ((100vw - 1440px) / (1920 - 1440)));
}

.buy-item_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.buy-item_img.active {
  background: #fe3b1f;
}

.buy-item_img img {
  width: 100%;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.buy-item_description {
}

.buy-item_description h3 {
  margin: 0;
  margin-top: calc(15px + (20 - 15) * ((100vw - 1440px) / (1920 - 1440)));
  font-size: calc(27px + (36 - 27) * ((100vw - 1440px) / (1920 - 1440)));
}

.buy-item_description p {
  max-width: calc(207px + (277 - 207) * ((100vw - 1440px) / (1920 - 1440)));
  margin-top: calc(12px + (18 - 12) * ((100vw - 1440px) / (1920 - 1440)));
}

.buy-item_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-size: calc(12px + (14 - 12) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 700;
  text-transform: uppercase;
  padding: calc(17px + (23 - 17) * ((100vw - 1440px) / (1920 - 1440)))
    calc(25px + (35 - 25) * ((100vw - 1440px) / (1920 - 1440)));
  margin-top: calc(32px + (40 - 32) * ((100vw - 1440px) / (1920 - 1440)));
  border: 2px solid #f0a560;
  box-shadow: 0px 0px 47px 5px #cb884a, inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5000px;
  cursor: pointer;
  z-index: 12;
}

.buy-item_btn:hover {
  background-color: #cb884a;
  box-shadow: 0px 0px 55.25px 5.75px #cb884a,
    inset 0px 0px 4.75px rgb(0 0 0 / 55%);
}

/* Второй баннер */
html,
body,
.slide-container {
  height: 100vh;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-container {
  position: relative;
  overflow: hidden;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide .bg-img {
  width: 120%;
  height: 120%;
  right: 10%;
}

/* Контакты */
.page-contacts {
  position: relative;
  height: 100vh;
  background: url(/assets/image/noise-background.png) #fe3b1f;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.contacts-logo {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.contacts-logo img {
  width: 100%;
}

.contacts-logo_elem {
  display: inline-block;
  padding-left: 10%;
  animation: scroll 9s infinite linear;
}

/* Анимация прокрутки логотипа в контактах */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.contacts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 calc(123px + (164 - 123) * ((100vw - 1440px) / (1920 - 1440)));
  margin-top: calc(120px + (142 - 120) * ((100vw - 1440px) / (1920 - 1440)));
  margin-bottom: calc(106px + (147 - 106) * ((100vw - 1440px) / (1920 - 1440)));
}

.contacts-container p {
  margin-top: 20px;
}

.contacts-container p.upper {
  text-transform: uppercase;
}

.contacts-container p.upper::before {
  background-color: #ffffff;
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  margin-bottom: 10px;
}

.contacts-container a {
  text-decoration: underline;
}

.contacts-left {
  max-width: calc(258px + (360 - 258) * ((100vw - 1440px) / (1920 - 1440)));
}

.contacts-right {
  display: grid;
  grid-template-columns: repeat(
    2,
    calc(184px + (245 - 184) * ((100vw - 1440px) / (1920 - 1440)))
  );
  grid-column-gap: calc(
    110px + (120 - 110) * ((100vw - 1440px) / (1920 - 1440))
  );
}

.contacts-right_partners,
.contacts-right_press {
  max-width: 250px;
}

.contacts_btn-callback {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc(10px + (14 - 10) * ((100vw - 1440px) / (1920 - 1440)));
  margin-top: 50px;
  border: 2px solid #ffffff;
  border-radius: 5000px;
  cursor: pointer;
}

.contacts_btn-callback:hover {
  background: #ffffff;
  color: #fe3b1f;
}

/* Футер */
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(13px + (19 - 13) * ((100vw - 1440px) / (1920 - 1440)))
    calc(27px + (35 - 27) * ((100vw - 1440px) / (1920 - 1440)));
  /* border-top: 0.75px solid rgba(255, 255, 255, 0.28); */
  width: 100vw;
  z-index: 99;
}

footer.active {
  justify-content: space-between;
}

footer .left-block {
  max-width: 106px;
  line-height: 1;
}

footer .left-block span {
  font-size: calc(8px + (10 - 8) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 500;
}

footer .center-block {
  opacity: 0;
}

footer .center-block span {
  font-size: 14px;
  text-transform: uppercase;
}

footer .center-block span a {
  text-decoration: underline;
}

footer .right-block span {
  width: calc(35px + (47 - 35) * ((100vw - 1440px) / (1920 - 1440)));
  height: calc(35px + (47 - 35) * ((100vw - 1440px) / (1920 - 1440)));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: 2px solid #ffffff80;
  font-size: calc(10px + (13 - 10) * ((100vw - 1440px) / (1920 - 1440)));
  text-transform: uppercase;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

footer.active .left-block,
footer.active .right-block {
  display: block;
}

/* Модальные окна */

/* Меню */
.burger-menu {
  position: fixed;
  top: -1000%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 90;
  background: #fe3b1f;
  transition: top 0.9s;
  -webkit-transition: top 0.9s;
  -moz-transition: top 0.9s;
  -ms-transition: top 0.9s;
  -o-transition: top 0.9s;
}

.burger-menu.active {
  position: fixed;
  top: 0;
  transition: top 0.9s;
  -webkit-transition: top 0.9s;
  -moz-transition: top 0.9s;
  -ms-transition: top 0.9s;
  -o-transition: top 0.9s;
}

.burger-menu_wrapper {
}

.burger-menu_content {
  text-align: center;
}

.burger-menu_content .burger-menu_list {
  padding: 0;
  margin: 0;
}

.burger-menu_content .burger-menu_list > .burger-menu_list-item {
  list-style-type: none;
  font-family: Halvar Breitschrift DEMO;
  font-size: calc(64px + (72 - 64) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 700;
  padding: 5px calc(150px + (200 - 150) * ((100vw - 1440px) / (1920 - 1440)));
  cursor: pointer;
}

.burger-menu_list-item:hover {
  color: #fe3b1f;
  background-color: #ffffff;
}

/* Модальное окно у баннера */
.banner-modal {
  position: absolute;
  top: -10000%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 15, 16, 0.76);
  z-index: 100;
}

.banner-modal.active {
  position: fixed;
  top: 0;
}

.banner-modal_wrapper {
  width: 100%;
  height: 100%;
}

.banner-modal_content {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  margin-right: calc(27px + (37 - 27) * ((100vw - 1440px) / (1920 - 1440)));
  width: calc(693px + (922 - 693) * ((100vw - 1440px) / (1920 - 1440)));
  height: 100%;
  padding: calc(16px + (20 - 16) * ((100vw - 1440px) / (1920 - 1440)))
    calc(44px + (60 - 44) * ((100vw - 1440px) / (1920 - 1440)));
  background: #cb884a;
  border-radius: 49px 49px 0px 0px;
  transition: all 1s ease-in-out;
}

.banner-modal_content.active {
  top: calc(82px + (110 - 82) * ((100vw - 1440px) / (1920 - 1440)));
  z-index: 10;
  transition: all 1s ease-in-out;
}

.banner-modal_items {
  display: grid;
  justify-items: stretch;
  grid-template-columns: repeat(2, 1fr);
}

.banner-modal_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(45px + (60 - 45) * ((100vw - 1440px) / (1920 - 1440)));
  height: calc(124px + (165 - 124) * ((100vw - 1440px) / (1920 - 1440)));
}

.banner-modal_item:not(.banner-modal_item:nth-child(2n)) {
  border-right: 2px solid rgba(255, 255, 255, 0.1);
}

.banner-modal_item:not(.banner-modal_item:last-child) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.banner-modal_item img {
  display: block;
}

.banner-modal_item span {
  display: block;
  font-size: calc(11px + (14 - 11) * ((100vw - 1440px) / (1920 - 1440)));
  width: calc(152px + (202 - 152) * ((100vw - 1440px) / (1920 - 1440)));
}

.banner-modal_close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(35px + (47 - 35) * ((100vw - 1440px) / (1920 - 1440)));
  width: calc(35px + (47 - 35) * ((100vw - 1440px) / (1920 - 1440)));
  background: rgba(0, 0, 0, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin: 19px 37px;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  scale: 0;
  transition: scale 0.4s ease-in-out;
  -webkit-transition: scale 0.4s ease-in-out;
  -moz-transition: scale 0.4s ease-in-out;
  -ms-transition: scale 0.4s ease-in-out;
  -o-transition: scale 0.4s ease-in-out;
}

.banner-modal_close:hover {
  background: #ffffff;
  box-shadow: 0px 0px 47px 5px #cb884a, inset 0px 0px 5px rgb(0 0 0 / 25%);
}

.banner-modal_close.active {
  scale: 1;
  transition-delay: 0.7s;
}

.banner-modal_close::before,
.banner-modal_close::after {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  width: 60%;
  background-color: #ffffff;
  transform-origin: center center;
  z-index: 10;
}

.banner-modal_close:hover::before,
.banner-modal_close:hover::after {
  background-color: #111112;
}

.banner-modal_close:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.banner-modal_close::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

/* Модальное окно формы */
.contest-modal {
  position: absolute;
  top: -10000%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 17, 18, 0.49);
  z-index: 100;
}

.contest-modal.active {
  position: fixed;
  top: 0;
}

.contest-modal_close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(35px + (47 - 35) * ((100vw - 1440px) / (1920 - 1440)));
  width: calc(35px + (47 - 35) * ((100vw - 1440px) / (1920 - 1440)));
  background: rgba(0, 0, 0, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin: calc(14px + (19 - 14) * ((100vw - 1440px) / (1920 - 1440)))
    calc(28px + (37 - 28) * ((100vw - 1440px) / (1920 - 1440)));
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  scale: 0;
  transition: scale 0.4s ease-in-out;
  -webkit-transition: scale 0.4s ease-in-out;
  -moz-transition: scale 0.4s ease-in-out;
  -ms-transition: scale 0.4s ease-in-out;
  -o-transition: scale 0.4s ease-in-out;
}

.contest-modal_close:hover {
  background: #ffffff;
  box-shadow: 0px 0px 47px 5px #cb884a, inset 0px 0px 5px rgb(0 0 0 / 25%);
}

.contest-modal_close.active {
  scale: 1;
  transition-delay: 0.7s;
}

.contest-modal_close::before,
.contest-modal_close::after {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  width: 60%;
  background-color: #ffffff;
  transform-origin: center center;
  z-index: 10;
}

.contest-modal_close:hover::before,
.contest-modal_close:hover::after {
  background-color: #111112;
}

.contest-modal_close:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.contest-modal_close::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.contest-modal_content {
  background: #cb884a;
  border-radius: 49px 0px 0px 49px;
  width: calc(480px + (640 - 480) * ((100vw - 1440px) / (1920 - 1440)));
  height: 100%;
  position: absolute;
  right: -50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition-delay: 0.1s;
}

.contest-modal_content.active {
  right: 0;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.contest-modal_wrapper {
  padding: calc(178px + (238 - 178) * ((100vw - 1440px) / (1920 - 1440)))
    calc(90px + (120 - 90) * ((100vw - 1440px) / (1920 - 1440)));
}

.contest-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contest-modal h3 {
  font-family: Halvar Breitschrift DEMO;
  font-size: calc(24px + (32 - 24) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 700;
  text-align: center;
}

.contest-input {
  margin-bottom: calc(11px + (15 - 11) * ((100vw - 1440px) / (1920 - 1440)));
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 49px;
  padding: 16px 28px;
  width: 100%;
  display: block;
}

.contest-input::placeholder {
  color: #efceaf;
}

[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}

[type="file"] + label.contest_btn-file {
  margin-bottom: calc(11px + (15 - 11) * ((100vw - 1440px) / (1920 - 1440)));
  text-align: initial;
  color: #efceaf;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 49px;
  padding: 16px 28px;
  width: 100%;
  display: block;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.3s;
}

[type="file"] + label:hover {
  background-color: transparent;
}

[type="file"] + label.contest_btn-file::before {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 28px;
  height: 100%;
  font-size: 100%;
  color: #efceaf;
  content: url(/assets/image/icon_file.svg);
  opacity: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

[type="file"] + label.contest_btn-file:hover {
  background-color: transparent;
  padding-left: 60px;
}

[type="file"] + label.contest_btn-file:hover::before {
  opacity: 1;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
}

.contest-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: calc(26px + (40 - 26) * ((100vw - 1440px) / (1920 - 1440)));
}

.contest-checkbox input {
  position: relative;
  display: flex;
  justify-content: center;
  height: 10px;
  width: 10px;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}

.contest-checkbox input::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border: 1px solid #ffffff;
  background: transparent;
}

.contest-checkbox input::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  height: 10px;
  width: 10px;
  background: url(/assets/image/checkbox.svg) center no-repeat;
  transition: 0.2s;
  opacity: 0;
}

.contest-checkbox input:checked::after {
  opacity: 1;
}

.contest-checkbox p {
  margin-left: 10px;
  font-size: calc(10px + (12 - 10) * ((100vw - 1440px) / (1920 - 1440)));
  line-height: 1.8em;
  color: #ffffff;
}

.form_contest-btn {
  padding: 11px 36px;
  font-size: calc(14px + (16 - 14) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.form_contest-btn:hover {
  color: #111112;
  background: #ffffff;
  box-shadow: 0px 0px 47px 5px #cb884a, inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

/* Модальное окно Теста */
.test-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  transition: all 0.4s ease-in-out;
}

.test-modal.active {
  pointer-events: auto;
  opacity: 1;
  transition: all 0.4s ease-in;
}

.test-modal_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
}

.test-modal_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.78);
  border: 0.75px solid #ffffff;
  backdrop-filter: blur(8.25px);
  border-radius: 36.75px;
}

.test-modal_close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  margin: 0 15px;
  overflow: hidden;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.4s;
}

.test-modal_close:hover::before,
.test-modal_close:hover::after {
  background-color: #ffffffa6;
}

.test-modal_close::before,
.test-modal_close::after {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  transform-origin: center center;
  z-index: 10;
}

.test-modal_close::before {
  transform: rotate(-45deg);
}

.test-modal_close::after {
  transform: rotate(45deg);
}

.test-modal_header {
}

.test-modal_header h3 {
  padding: 0 calc(143px + (191 - 143) * ((100vw - 1440px) / (1920 - 1440)));
  font-family: Halvar Breitschrift DEMO;
  font-size: calc(24px + (32 - 24) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.test-modal_body {
  width: 100%;
  padding: calc(112px + (150 - 112) * ((100vw - 1440px) / (1920 - 1440)))
    calc(76px + (102 - 76) * ((100vw - 1440px) / (1920 - 1440)));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(34px + (45 - 34) * ((100vw - 1440px) / (1920 - 1440)));
  border-top: 1px solid #626161;
}

.test-modal_body-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: calc(12px + (17 - 12) * ((100vw - 1440px) / (1920 - 1440))) 0;
  border: 1px dashed #ffffff;
  background: transparent;
  border-radius: 100px;
  cursor: pointer;
}

.test-modal_body-item:hover {
  border: 1px solid #ffffff;
}

.wrong,
.wrong:hover {
  background: #ef3b3b;
  border: 1px solid #ef3b3b;
}

.correct,
.correct:hover {
  background: #26bc59;
  border: 1px solid #26bc59;
}

.passive,
.passive:hover {
  background: transparent;
  border: 1px dashed #ffffff;
}

.test-modal_footer {
  padding-bottom: calc(11px + (14 - 11) * ((100vw - 1440px) / (1920 - 1440)));
  font-family: Halvar Breitschrift DEMO;
  font-size: calc(18px + (24 - 18) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 700;
}
