@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Halvar Breitschrift DEMO";
  src: url(/assets/fonts/HalvarBreitschriftDEMO-Bold.otf);
}

body {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: calc(13px + (18 - 13) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 400;
  line-height: 1.2;
  overflow-x: hidden;
}

h1 {
  font-family: Halvar Breitschrift DEMO;
  font-weight: 700;
  text-transform: uppercase;
  font-size: calc(48px + (65 - 48) * ((100vw - 1440px) / (1920 - 1440)));
  line-height: 0.92;
}

/* Главный экран */
.circles-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 calc(223px + (297 - 223) * ((100vw - 1440px) / (1920 - 1440)));
  overflow: hidden;
}

.circles-wrapper svg {
  width: 100%;
}

.gift {
  position: absolute;
  top: calc(175px + (181 - 175) * ((100vw - 1440px) / (1920 - 1440)));
  right: calc(377px + (503 - 377) * ((100vw - 1440px) / (1920 - 1440)));
  width: calc(108px + (144 - 108) * ((100vw - 1440px) / (1920 - 1440)));
  height: calc(108px + (144 - 108) * ((100vw - 1440px) / (1920 - 1440)));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #cb884a;
  border: 2px solid #f0a560;
  box-shadow: 0px 0px 47px 5px #cb884a, inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  z-index: 10;
}

.gift > span {
  font-size: calc(10.5px + (14 - 10.5) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 700;
  text-transform: uppercase;
}

.first-page {
  background: url(/assets/image/first-page.jpg) 100% 100% no-repeat;
  background-size: cover;
}

.second-page {
  background: url(/assets/image/second-page.jpg) 100% 100% no-repeat;
  background-size: cover;
}

.third-page {
  background: url(/assets/image/third-page.jpg) 100% 100% no-repeat;
  background-size: cover;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_title {
  position: absolute;
  top: calc(205px + (219 - 205) * ((100vw - 1440px) / (1920 - 1440)));
  left: calc(180px + (240 - 180) * ((100vw - 1440px) / (1920 - 1440)));
  z-index: 9;
}

.section_title h1 {
  max-width: 120px;
}

.section_title p {
  margin-top: calc(23px + (30 - 23) * ((100vw - 1440px) / (1920 - 1440)));
  max-width: calc(246px + (330 - 246) * ((100vw - 1440px) / (1920 - 1440)));
  text-indent: 1.9rem;
}

.section_img {
  width: 100vw;
  display: grid;
  justify-content: center;
  padding: 0 calc(420px + (560 - 420) * ((100vw - 1440px) / (1920 - 1440)));
  z-index: 9;
}

.section_img img {
  width: 100%;
}

.section_mini-img {
  position: absolute;
  top: calc(490px + (576 - 490) * ((100vw - 1440px) / (1920 - 1440)));
  right: calc(297px + (395 - 297) * ((100vw - 1440px) / (1920 - 1440)));
  z-index: 9;
}

.section_mini-img img {
  width: calc(177px + (237 - 177) * ((100vw - 1440px) / (1920 - 1440)));
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.section-description {
  position: absolute;
  bottom: 60px;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 108px;
  z-index: 9;
}

.description-item {
  max-width: calc(167px + (220 - 167) * ((100vw - 1440px) / (1920 - 1440)));
  line-height: 1;
}

.description-item > span {
  font-size: calc(10px + (14 - 10) * ((100vw - 1440px) / (1920 - 1440)));
}

.description-item > span::before {
  display: block;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #ffffff;
  margin-bottom: 7px;
}

/* Экран эволюции наушников */
.evolution-page {
}

.evolution_top-margin {
  padding-top: 224px;
}

.evolution-line {
  position: absolute;
  left: 50%;
  margin-top: 3.5vh;
}

.evolution-line img {
  opacity: 0.2;
}

.evolution-line span.move {
  position: fixed;
  width: 3px;
  height: 400px;
  max-height: 72vh;
  top: 0;
  left: calc(50% - 1px);
  background-image: linear-gradient(to bottom, grey, white);
}

.evolution-wrapper {
}

.evolution-items {
  display: flex;
  width: 100%;
  padding-bottom: 78px;
}

.evolution-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evolution-item img {
  opacity: 0.3;
}

.evolution-item.left {
  position: relative;
  text-align: right;
  width: 50%;
}

.evolution-item.right {
  position: relative;
  text-align: left;
  width: 50%;
}

.evolution-item.left img,
.evolution-item.right img,
.evolution-description {
  width: 100%;
}

.evolution-item.left .evolution-description {
  margin-left: -70px;
  margin-right: 70px;
}

.evolution-item.right img {
}

.evolution-item.right .evolution-description {
  margin-right: -70px;
  margin-left: 70px;
}

.evolution-description h2 {
  font-family: Halvar Breitschrift DEMO;
  font-size: 64px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  margin-bottom: 18px;
}

.evolution-dot {
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: #2a213e;
  border-radius: 50%;
  border: 7px solid #ffffff;
  box-shadow: 0px 0px 20px 2px #ffffffa6;
}

.evolution-item.left .evolution-dot {
  right: -12px;
}

.evolution-item.right .evolution-dot {
  left: -12px;
}

/* Футер */
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(27px + (35 - 27) * ((100vw - 1440px) / (1920 - 1440)));
  padding-bottom: calc(13px + (19 - 13) * ((100vw - 1440px) / (1920 - 1440)));
  width: 100vw;
  z-index: 10;
}

footer .left-block {
  max-width: 106px;
  line-height: 1;
}

footer .left-block span {
  font-size: calc(8px + (10 - 8) * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: 500;
}

footer .right-block span {
  width: calc(35px + (47 - 35) * ((100vw - 1440px) / (1920 - 1440)));
  height: calc(35px + (47 - 35) * ((100vw - 1440px) / (1920 - 1440)));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: 2px solid #ffffff80;
  font-size: calc(10px + (13 - 10) * ((100vw - 1440px) / (1920 - 1440)));
  text-transform: uppercase;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

@keyframes bganimationFirst {
  0% {
    background-position: 100% 0%, 0% 0%, -50% -50%;
  }
  50% {
    background-position: 100% 50%, 0% 100%, 60% 10%;
  }
  100% {
    background-position: 100% 100%, 0% 0%, 80% 200%;
  }
}

.first-background {
  background: radial-gradient(
      50% 50% at 50% 50%,
      #162287 0%,
      rgba(24, 26, 32, 0) 100%
    ),
    radial-gradient(50% 50% at 50% 50%, #162287 50%, rgba(24, 26, 32, 0) 100%),
    radial-gradient(50% 50% at 50% 50%, #551687 0%, rgba(24, 26, 32, 0) 100%),
    #000000;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 2000px 2000px, 2000px 2000px, 500px 500px;
  background-attachment: fixed;
  animation: bganimationFirst 15s infinite;
  -webkit-animation: bganimationFirst 15s infinite;
}
